<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Eazyfy</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'user/imgs/theme/eazyfy.jpg' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'user/css/maind6c3.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/wizard.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/checkbox.css' %}">


</head>

<body>





  
    {% include 'user/partials/header.html' %}

    <main class="main">

        {% block content %}


        {% endblock %}


        {% include 'user/partials/footer.html' %}


        <!-- Preloader Start -->
        <!-- <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="text-center">
                        <h5 class="mb-10">Now Loading</h5>
                        <div class="loader">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                            <div class="bar bar3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Vendor JS-->

    </main>

    


    <script src="{% static 'user/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'user/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'user/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'user/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/js/plugins/slick.js' %}"></script>
    <script src="{% static 'user/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'user/js/plugins/wow.js' %}"></script>
    <script src="{% static 'user/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'user/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'user/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'user/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'user/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'user/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'user/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'user/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'user/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'user/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'user/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'user/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'user/js/plugins/jquery.elevatezoom.js' %}"></script>
    <!-- Template  JS -->
    <script src="{% static 'user/js/maind6c3.js' %}"></script>
    <script src="{% static 'user/js/shopd6c3.js' %}"></script>

    
    <script src="{% static 'user/js/wizard.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>


