{% load static %}
<footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-md-3 mb-lg-0">
                    <div class="row align-items-center">
                        <div class="col flex-horizontal-center">
                            <img class="icon-email" src="{% static 'user/imgs/theme/icons/icon-email.svg' %}" alt="">
                            <h4 class="font-size-20 mb-0 ml-3 text-white" style="font-size: 17px;">Sign up to Newsletter
                            </h4>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Subscribe Form -->
                    <form class="form-subcriber d-flex wow fadeIn animated" action="" method="post">
                        {% csrf_token %}
                        <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                        <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                    </form>
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding pb-0 border-bottom">
        <div class="container">
            <div class="footer-item">
                <h5 class="mb-2">Sell Your Old Mobile Phone On flypik</h5>
                <p>Want to sell old phone online and get some quick cash? Then, there is no better place than flypik; we assure you that. Forget all those troubles of going to a shop, pleading for the best price and then crossing your fingers for the safety of your data. flypik is the new one-stop to sell old phone online; it’s like a wish granted by god. Yes, you heard it right. </p>
                <p>With flypik’s smooth user experience, you can sell old phones online with just a few clicks. So, stay at your home, and sell old mobile phones right in the comfort of your home at the best possible price. No, that’s not a typo - it’s 100 per cent guaranteed. Introducing flypik, India’s biggest re-commerce website.</p>
            </div>
            <div class="footer-item">
                <h5 class="mb-2">Why Sell On flypik?</h5>
                <p>flypik allows you to sell old phones, laptops and other gadgets for instant cash, and you can use this money to purchase newer and better models. In addition, flypik has partnered with several top brands in the country, including Apple, Samsung, Xiaomi, Oppo, Vivo, Amazon, Nokia, Vijay Sales, Reliance Digital, Hp, OnePlus, Dell, Realme and more, for offline and online exchange offers..</p>
                <p>flypik’s algorithmically generated price quotes are the fairest in the industry. All flypik needs is certain details about your old phone’s condition, age, model number, and warranty period, and you’re good to go.</p>
                <p>Based on this data, flypik will offer you the ideal cash value if you sell old phones, laptops or gadgets. We have an exclusive home pickup facility for mobile phones. So all you have to do is book an appointment at your comfortable time, and our representative will reach out to you. There’s no haggling, no having to step out of your home, and the entire process can be completed in the shortest possible time.</p>
                <p>Moreover, there are no privacy concerns with flypik. We take optimum precautions while purchasing any old mobile phone. Each old phone goes through a complete data cleaning process, ensuring maximum security for our customers.</p>
            </div>
            <div class="footer-item">
                <h5 class="mb-3">Brands</h5>
                <div class="d-flex flex-wrap">
                    {% for brand in brands %}<a href="{% url 'user:pick_model' brand.slug %}">{{brand}}</a>{% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row px-60">
                <div class="col-lg-2 col-md-3 col-6">
                    <h5 class="widget-title wow fadeIn animated">Services</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="#">Sell phone</a></li>
                        <li><a href="#">Sell Tv</a></li>
                        <li><a href="#">Sell Smartwatch</a></li>
                        <li><a href="#">Sell DSLR camera</a></li>
                        <li><a href="#">Buy phone</a></li>
                        <li><a href="#">Repair phone</a></li>
                        <li><a href="#">Find New phone</a></li>
                        <li><a href="#">Partner With Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <h5 class="widget-title wow fadeIn animated">Company</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Article</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <h5 class="widget-title wow fadeIn animated">Help & Support</h5>
                    <ul class="footer-list wow fadeIn animated">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Refunding Policy</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <h5 class="widget-title wow fadeIn animated">My Account</h5>
                    <ul class="footer-list wow fadeIn animated">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8  col-lg-6 p-2 d-lg-none">
                    <p class="wow fadeIn animated animated animated" style="visibility: visible;">From App Store or
                        Google Play
                    </p>
                    <div class="download-app wow fadeIn animated animated animated" style="visibility: visible;">
                        <a href="#" class="hover-up mb-sm-4 mb-lg-0">
                            <img class="active" src="{% static 'user/imgs/theme/app-store.jpg' %}" alt=""></a>
                        <a href="#" class="hover-up">
                            <img src="{% static 'user/imgs/theme/google-play.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom border-top">
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>

                <ul class="d-flex">
                    <li><a href="" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="" class="me-4 text-reset"><i class="fab fa-google"></i></a></li>
                    <li><a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="" class="me-4 text-reset"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-lg-12 mx-aut py-3">
                    <p class="font-sm text-muted mb-0 text-center">
                        &copy; {% now 'Y' %} <strong class="text-brand">Eazyfy - All rights reserved</strong>
                </div>
            </div>
        </div>

    </section>

</footer>
