{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}

<style>
    /*  */
    .profile-img-wrap.edit-img {
        border-radius: 50%;
        margin: 0 auto 30px;
        position: relative;
    }

    .profile-img-wrap {
        height: 120px;
        position: absolute;
        width: 120px;
        background: #ffffff;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

    .profile-img-wrap .fileupload {
        background: rgba(33, 33, 33, 0.5);
        border: none;
        padding: 3px 10px;
        border-radius: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .profile-img-wrap .fileupload .btn-text {
        color: #ffffff;
    }

    .profile-img-wrap .fileupload .upload {
        cursor: pointer;
        filter: alpha(opacity=0);
        font-size: 20px;
        opacity: 0;
        margin: 0;
        padding: 5px;
        position: absolute;
        top: -3px;
        right: -3px;
    }

</style>


{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}

<div>{{ message }}</div>

{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

<div class="alert alert-secondary alert-dismissible fade show">
    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
        stroke-linecap="round" stroke-linejoin="round" class="me-2">
        <path
            d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3">
        </path>
    </svg>
    <strong>Done!</strong> {{ message }} .
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
    </button>
</div>

{% endif %}
{% endfor %}
{% endif %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Brands</h4>
            <!-- <span>Button Group</span> -->
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <div class="" style="margin-right: 10px;">
            <a href="" class="btn btn-rounded btn-secondary" style="float: right;" data-bs-toggle="modal"
                data-bs-target="#exampleModalCenter">
                <span class="btn-icon-start text-info">
                    <i class="fa fa-plus" style="color: #5f009a;"></i>
                </span>Add Brand
            </a>
        </div>
    </div>
</div>

<div class="row">



</div>

<div class="row mt-5">

    {% for brand in brands %}
    <div class="col-xl-3 col-sm-6 col-sm-4 col-md-4 col-lg-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="" class="invoice-grid-link">IN093439#@016</a>
                <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="" onclick="DataGets({{brand.id}})" data-bs-toggle="modal"
                            data-bs-target="#EditModal{{brand.id}}">
                            <i class="far fa-edit me-2"></i>Edit
                        </a>
                        <button class="dropdown-item" onclick="deleteBrand({{brand.id}})">
                            <i class="far fa-trash-alt me-2"></i>Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <img class="card-img-bottom img-fluid" src="{{brand.image.url}}" alt="Card image cap">
                </p>
            </div>


            <div class="card-footer">
                <div class="project-media text-center">
                    <a type="button" href="{% url 'official:model' brand.id %}" class="btn btn-outline-info">Add
                        Model</a>
                </div>
            </div>
        </div>
    </div>


    <!-- edit modal -->
    <div class="modal fade" id="EditModal{{brand.id}}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Edit Brand</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="basic-form">
                        <form action="{% url 'official:editbrand' brand.id %}" method="POST"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    <div class="profile-img-wrap edit-img">
                                        <img class="inline-block" src="" id="bimage{{brand.id}}" alt="user">
                                        <div class="fileupload btn">
                                            <span class="btn-text">edit</span>
                                            <!-- {{empform.emp_profile}} -->
                                            <input class="upload" name="bphoto{{brand.id}}" type="file">
                                            <!-- <input class="" name="brandpk" value="" type="text" id="bpk{{brand.id}}" > -->
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-12">
                                    <label class="form-label">Brand Name</label>
                                    <input type="text" class="form-control" placeholder="1234 Main St"
                                        name="bname{{brand.id}}" id="bname{{brand.id}}">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger light"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save
                                    changes</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- Brand Add Modal -->
<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Add Brand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="mb-3 col-md-12">
                                <label class="form-label">Brand Name</label>
                                <input type="text" class="form-control" placeholder="1234 Main St" name="name">
                            </div>
                            <div class="mb-3 col-md-12">
                                <div class="form-file">
                                    <input type="file" class="form-file-input form-control" name="photo">
                                </div>
                                <span class="input-group-text">Upload</span>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger light"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- delete Brand -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function deleteBrand(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
                window.location.href = "/official/deletebrand/" + id
            }
        })
    }

    // edit modal

</script>

<!-- edit modal -->
<script>
    function DataGets(id) {
        alert(id)
        $.ajax({
            url: "/official/getbranddata/" + id,
            type: 'GET',

            success: function (responce) {
                $('#bname' + id).val(responce.value.name)
                $('#bimage' + id).attr("src", responce.value.photo)
                // $('#bpk'+id).val(responce.value.id)

            }

        })

    }

    // function EditBrand(id) {
    //     $.ajax({
    //         url: "/official/editbrand/" + id,
    //         type: 'POST',
    //         data: {
    //             'bname': $('#bname').val(),
    //             'bphoto':$('#bimage').val(),
    //         },
    //         success: function (responce) {
    //             window.location.reload()
    //         }
    //     })
    // }



    // $(document).ready(function () {
    //     $("#RegisterationForm").submit(function (e) {
    //         // var data = $("#categorysave").serializeArray();
    //         var formData = new FormData(e.target);
    //         e.preventDefault();
    //         console.log(formData)
    //         $.ajax({
    //             url: "/registration",
    //             type: "POST",
    //             data: formData,
    //             contentType: false,
    //             contentType: false,
    //             cache: false,
    //             success: function (responce) {
    //                 Swal.fire({
    //                     position: 'top-center',
    //                     icon: 'success',
    //                     title: 'Your Registration Has Been Completed',
    //                     showConfirmButton: false,
    //                     timer: 3000
    //                   })
    //                   setInterval('location.reload()', 3000);

    //             }

    //         });

    //     });
    //     return false;

    // });
</script>


{% endblock %}
