{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>Eazyfy Forgot Password</title>

<link rel="shortcut icon" href="{% static 'official/images/logo/eazyfy.png' %}">

<link rel="stylesheet" href="{% static 'official/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'official/plugins/fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'official/plugins/fontawesome/css/all.min.css' %}">

<link rel="stylesheet" href="{% static 'official/css/style.css' %}">
</head>
<body>

<div class="main-wrapper login-body">
<div class="login-wrapper">
<div class="container">
<img class="img-fluid logo-dark mb-2" src="{% static 'official/images/logo/eazyfy.png' %}" alt="Logo">
<div class="loginbox">
<div class="login-right">
<div class="login-right-wrap">
<h1>Forgot Password?</h1>
<p class="account-subtitle">Enter your email to get a password reset link</p>

<form action="https://kanakku.dreamguystech.com/html/template/login.html">
<div class="form-group">
<label class="form-control-label">Email Address</label>
<input class="form-control" type="text">
</div>
<div class="form-group mb-0">
<button class="btn btn-lg btn-block btn-primary w-100" type="submit">Reset Password</button>
</div>
</form>

<div class="text-center dont-have">Remember your password? <a href="{% url 'official:loginpage' %}">Login</a></div>
</div>
</div>
</div>
</div>
</div>
</div>


<script src="{% static 'official/js/jquery-3.6.0.min.js' %}"></script>

<script src="{% static 'official/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'official/js/feather.min.js' %}"></script>

<script src="{% static 'official/js/script.js' %}"></script>
</body>
</html>