{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}


<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Hi, welcome back!</h4>
            <span>Button Group</span>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Bootstrap</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Cards</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="" style="margin-right: 10px;">
        <button type="button" class="btn btn-rounded btn-info"><span
            class="btn-icon-start text-info"><i class="fa fa-plus color-info"></i>
        </span>Add</button>
    </div>
</div>

<div class="row">
    <div class="col-xl-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> Samsung</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <img class="card-img-bottom img-fluid" src="../static/images/card/3.png"  alt="Card image cap">
                </p>
            </div>
            
               
            <div class="card-footer">
                <p class="card-text d-inline">Card footer</p>
                <a href="javascript:void(0);" class="card-link float-end">Card link</a>
            </div>
        </div>
    </div>

    <div class="col-xl-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> Samsung</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <img class="card-img-bottom img-fluid" src="../static/images/card/3.png"  alt="Card image cap">
                </p>
            </div>
            
               
            <div class="card-footer">
                <p class="card-text d-inline">Card footer</p>
                <a href="javascript:void(0);" class="card-link float-end">Card link</a>
            </div>
        </div>
    </div>


    <div class="col-xl-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> Samsung</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <img class="card-img-bottom img-fluid" src="../static/images/card/3.png"  alt="Card image cap">
                </p>
            </div>
            
               
            <div class="card-footer">
                <p class="card-text d-inline">Card footer</p>
                <a href="javascript:void(0);" class="card-link float-end">Card link</a>
            </div>
        </div>
    </div>


    <div class="col-xl-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> Samsung</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <img class="card-img-bottom img-fluid" src="../static/images/card/3.png"  alt="Card image cap">
                </p>
            </div>
            
               
            <div class="card-footer">
                <p class="card-text d-inline">Card footer</p>
                <a href="javascript:void(0);" class="card-link float-end">Card link</a>
            </div>
        </div>
    </div>


    <div class="col-xl-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> Samsung</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <img class="card-img-bottom img-fluid" src="../static/images/card/3.png"  alt="Card image cap">
                </p>
            </div>
            
               
            <div class="card-footer">
                <a href="" class="btn btn-outline-primary btn-sm">Primary</a>
                <!-- <p class="card-text d-inline">Card footer</p>
                <a href="javascript:void(0);" class="card-link float-end">Card link</a> -->
            </div>
        </div>
    </div>
</div>


{% endblock %}