{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}


<div class="container-fluid">
    <div class="form-head mb-sm-5 mb-3 d-flex flex-wrap align-items-center">
        <h2 class="font-w600 title mb-2 me-auto ">Dashboard</h2>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-6 m-t35">
            <div class="card card-coin">
                <div class="card-body text-center">
                    <span class="me-3">
                        <i class="flaticon-381-diamond"></i>
                    </span>
                    <h2 class="text-black mb-2 font-w600">₹ 168,331.09</h2>
                    <p class="mb-0 fs-14">
                        <!-- <svg width="29" height="22" viewBox="0 0 29 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d1)">
                                <path d="M5 16C5.91797 14.9157 8.89728 11.7277 10.5 10L16.5 13L23.5 4" stroke="#2BC155"
                                    stroke-width="2" stroke-linecap="round" />
                            </g>
                            
                        </svg> -->
                        <span class="text-success me-1">Amount</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 m-t35">
            <div class="card card-coin">
                <div class="card-body text-center">
                    <span class="me-3">
                        <i class="flaticon-381-diamond"></i>
                    </span>
                    <h2 class="text-black mb-2 font-w600">{{ franchise_count }}</h2>
                    <p class="mb-0 fs-13">
                        <svg width="29" height="22" viewBox="0 0 29 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d2)">
                                <path d="M5 16C5.91797 14.9157 8.89728 11.7277 10.5 10L16.5 13L23.5 4" stroke="#2BC155"
                                    stroke-width="2" stroke-linecap="round" />
                            </g>
                        </svg>
                        <span class="text-success me-1">Total Franchise</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 m-t35">
            <div class="card card-coin">
                <div class="card-body text-center">
                    <span class="me-3">
                        <i class="flaticon-381-diamond"></i>
                    </span>
                    <h2 class="text-black mb-2 font-w600">{{pickupboy_count}}</h2>
                    <p class="mb-0 fs-14">
                        <!-- <svg width="29" height="22" viewBox="0 0 29 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d4)">
                                <path d="M5 4C5.91797 5.08433 8.89728 8.27228 10.5 10L16.5 7L23.5 16" stroke="#FF2E2E"
                                    stroke-width="2" stroke-linecap="round" />
                            </g>
                        </svg> -->
                        <span class="text-danger me-1">Pickup Boys</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 m-t35">
            <div class="card card-coin">
                <div class="card-body text-center">
                    <span class="me-3">
                        <i class="flaticon-381-diamond"></i>
                    </span>
                    <h2 class="text-black mb-2 font-w600">₹ 667</h2>
                    <p class="mb-0 fs-14">
                        <!-- <svg width="29" height="22" viewBox="0 0 29 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d5)">
                                <path d="M5 16C5.91797 14.9157 8.89728 11.7277 10.5 10L16.5 13L23.5 4" stroke="#2BC155"
                                    stroke-width="2" stroke-linecap="round" />
                            </g>
                        </svg> -->
                        <span class="text-success me-1">Total Request</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>









{% endblock %}