{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}


<style>
    /*  */
    .profile-img-wrap.edit-img {
        border-radius: 50%;
        margin: 0 auto 30px;
        position: relative;
    }

    .profile-img-wrap {
        height: 120px;
        position: absolute;
        width: 120px;
        background: #ffffff;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

    .profile-img-wrap .fileupload {
        background: rgba(33, 33, 33, 0.5);
        border: none;
        padding: 3px 10px;
        border-radius: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .profile-img-wrap .fileupload .btn-text {
        color: #ffffff;
    }

    .profile-img-wrap .fileupload .upload {
        cursor: pointer;
        filter: alpha(opacity=0);
        font-size: 20px;
        opacity: 0;
        margin: 0;
        padding: 5px;
        position: absolute;
        top: -3px;
        right: -3px;
    }

</style>
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Modes</h4>
            <span></span>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <div class="" style="margin-right: 10px;">
            <a href="" class="btn btn-rounded btn-secondary" style="float: right;" data-bs-toggle="modal"
                data-bs-target="#exampleModalCenter">
                <span class="btn-icon-start text-info">
                    <i class="fa fa-plus" style="color: #5f009a;"></i>
                </span>Add Model
            </a>
        </div>
    </div>
</div>
<div class="row">
    {% for model in models %}
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card user-card">
            <div class="card-body pb-0">
                <div class="d-flex mb-3 align-items-center">
                    <div class="dz-media me-3 rounded-circle">
                        <img src="{{model.image.url}}" alt="">
                    </div>
                    <div>
                        <h5 class="title"><a href="javascript:void(0);">{{model.name}}</a></h5>
                        <span class="text-info">2022</span>
                    </div>
                </div>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                        <span class="mb-0 title">Ram</span> :
                        {% for ram in model.get_variants %}
                        <span class="text-black ms-2">{{ram.RAM}}gb , </span>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        <span class="mb-0 title">Internal Storage</span> :
                        {% for int in model.get_variants %}
                        <span class="text-black ms-2">{{int.internal_storage}}gb </span>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'official:variant' model.brand.id %}" class="btn btn-primary btn-xs">Spec
                    Adding</a>
                <a href="" class="btn btn-primary btn-xs" data-bs-toggle="modal" data-bs-target="#editModel{{model.id}}"
                    onclick="Dataget({{model.id}})">Edit</a>
                <a href="javascript:void(0);" class="btn btn-danger btn-xs" onclick="deleteModel()">Delete</a>
            </div>
        </div>
    </div>

    <!-- edit modal -->
    <div class="modal fade" id="editModel{{model.id}}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Edit Model</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="basic-form">
                        <form action="{% url 'official:editmodel' model.id %}" method="POST"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    <div class="profile-img-wrap edit-img">
                                        <img class="inline-block" src="" id="mimage{{model.id}}" alt="user">
                                        <div class="fileupload btn">
                                            <span class="btn-text">edit</span>
                                            <!-- {{empform.emp_profile}} -->
                                            <input class="upload" name="mphoto{{model.id}}" id="mphoto{{model.id}}"
                                                type="file">
                                            <!-- <input class="" name="mid" value="" type="text" id="mid{{model.id}}" > -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" name="mname{{model.id}}"
                                        id="mname{{model.id}}">
                                </div>
                                <button type="submit" class="btn btn-primary text-center">SUbmit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>



</div>
{% endfor %}
<nav>
    <ul class="pagination pagination-gutter pagination-primary no-bg">
        <li class="page-item page-indicator">
            <a class="page-link" href="javascript:void(0)">
                <i class="la la-angle-left"></i></a>
        </li>
        <li class="page-item "><a class="page-link" href="javascript:void(0)">1</a>
        </li>
        <li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
        <li class="page-item page-indicator">
            <a class="page-link" href="javascript:void(0)">
                <i class="la la-angle-right"></i></a>
        </li>
    </ul>
</nav>


<!-- Model Add Modal -->
<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Add Model</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="mb-3 col-md-12">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <!-- <div class="mb-3 col-md-6">
                                <label>Internal Storage</label>
                                <input type="text" class="form-control" name="internal_storage">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Year</label>
                                <input type="email" class="form-control" name="year">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Color</label>
                                <input type="text" class="form-control" name="color">
                            </div>
                        </div> -->
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    <label class="form-label">Image</label>
                                    <input type="file" class="form-control" name="image">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary text-center">SUbmit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="{%static 'official/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}?v=1.1"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function deleteModel() {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
            }
        })
    }

    function Dataget(id) {
        // alert()
        $.ajax({
            url: '/official/getmodeldata/' + id,
            type: 'GET',
            success: function (responce) {
                // $('#mid'+id).val(responce.fkid)
                $('#mimage' + id).attr("src", responce.mphoto)
                $('#mname' + id).val(responce.mname)
            }
        })
    }

</script>


{% endblock %}
