{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}


<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4> Select questions</h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Selected Model</label>
                <div class="col-sm-9">
                    <p >:: {{brandmodel.name}}</p>
                    <input type="int" id="bid" value="{{brandmodel.id}}" hidden>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="basic-form">
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Question </label>
                    <div class="col-sm-9">
                        <!-- <div class="dropdown bootstrap-select me-sm-2 default-select form-control wide"> -->
                            <select class="me-sm-2 default-select form-control wide" tabindex="null" id="questid" onchange="QuestionId()">
                                {% for ques in questions %}
                                <option value="{{ ques.id }}" >{{ ques.questions }}</option>
                                {% endfor %}
                            </select>
                        <span id="message"></span>
                    </div>
                    <div class="col-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row colors objective" id="objective" hidden>
    <div class="card">
        <div class="card-body">
            <div class="basic-form">
                <div class="mb-3 row">

                    <label class="col-sm-3 col-form-label">Questions</label>

                    <div class="col-sm-9">
                        <!-- <div class="dropdown bootstrap-select me-sm-2 default-select form-control wide"> -->
                        
                    </div>


                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Yes</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-default " placeholder="">
                        <!-- <span id="message"></span> -->
                    </div>
                    <div class="col-12">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">No</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-default " placeholder="">
                        <!-- <span id="message"></span> -->
                    </div>
                    <div class="col-12">
                    </div>
                </div>

                <button type="button" class="btn btn-success">Upload</button>
            </div>
        </div>
    </div>
</div>


<div class="row colors imageType" id="imageType" hidden>
    <div class="card">
        <div class="card-body">
            <div class="basic-form">
                <div class="mb-3 row">

                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Select Question</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-default " placeholder="input-default">
                        <!-- <span id="message"></span> -->
                    </div>
                    <div class="col-12">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Select Question</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-default " placeholder="input-default">
                        <!-- <span id="message"></span> -->
                    </div>
                    <div class="col-12">
                    </div>
                </div>

                <button type="button" class="btn btn-success">Upload</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

<script>
    function QuestionId(){
    var questionid = $("#questid").val()
    var bid = $('#bid').val()
    // alert(questionid)
    $.ajax({
        url : "/official/questionid",
        type : "GET",
        data : {
            "qstid":questionid,
            "bid":bid,
        },
        success : function(responce) {
            len = responce
            // alert(len.length)
            for (i=0;i<len;i++){
                // alert(responce.)
            }
            // if (responce.type == 'Objective'){
            //     $('#objective').removeAttr('hidden')
            // }
            // else if (responce.type == 'image_type') {
            //     $('#imageType').removeAttr('hidden')
            // }
    

            
        }
    })
}
</script>







{% endblock %}