{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'official/vendor/datatables/css/jquery.dataTables.min.css' %}" >


<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Total Questions</h4>
        </div>
    </div>
    <div class="" style="margin-right: 10px;">
        <a href="{% url 'official:questionsadding' %}" class="btn btn-rounded btn-secondary" style="float: right;">
            <span class="btn-icon-start text-info">
                <i class="fa fa-plus" style="color: #5f009a;"></i>
            </span> Questions
        </a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">List of newly added question</h4>

               


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Q.No.</th>
                                <th>Question Type</th>
                                <th>Question</th>
                                <th>Sub Questions</th>
                            </tr>
                        </thead>
                        <tbody>

{% for question in question %}

                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{ question.question_type}}</td>
                                <td>{{ question.questions }}</td>
                                
                                <td>Edinburgh</td>

                                {% comment %}
                                <!-- {% if question.question_type =image_type %}
                                <td>Edinburgh</td>
                                {% else %}

                                <td> objective type</td>
                                {% endif %}
                                 -->
                               {% endcomment %}
                            </tr>

{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function deleteFRanchise(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
                window.location.href = "/official/deletefranchise/" + id
            }
        })
    }
</script>


<script src="{% static 'official/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    
<script src="{% static 'official/js/plugins-init/datatables.init.js' %}"></script>


{% endblock %}