{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4> Question Adding</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Add Your Main Question</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <!--  -->
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Question <span id="qno"> {{qstcount}}</span></label>
                    <div class="col-sm-9">
                        <input type="Text" class="form-control" id="question" placeholder="Add Questions"
                            name="addquestion">
                        <span id="message"></span>
                    </div>
                </div>

                <div class="mb-3 row" hidden>
                    <label class="col-sm-3 col-form-label">Device Type</label>
                    <select name="" id="devicetype">
                        {% for type in device_type %}
                        <option value="{{type.device_type}}">{{type.device_type}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3 row">
                    <div class="form-group">
                        <button class="btn btn-primary disabled" id="buttondisabled" onclick="QuestionAdding()">Upload
                            and Next</button>
                        <button class="btn btn-success disabled" id="buttondisabled2" onclick="subQuestionAdding()">Add
                            sub question</button>
                        <!-- <button class="btn btn-danger disabled">finish</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('#question').keyup(function () {
        var question = $('#question').val()
        if (question == '') {
            $('#message').html('Please Add Your Question First')
            $("#buttondisabled").addClass("disabled");
            $("#buttondisabled2").addClass("disabled")
        }
        else {
            $('#message').hide()
            $("#buttondisabled").removeClass("disabled");
            $("#buttondisabled2").removeClass("disabled");
        }
    })

    function QuestionAdding() {
        var question = $("#question").val()
        $.ajax({
            url: "/official/questionsave",
            type: "POST",
            data: {
                "qst": question,
            },
            success: function (responce) {
                $("#qno").html(responce.qstno)
                $("#question").val("")
            }
        })
    }


    function subQuestionAdding() {
        var question = $("#question").val()
        $.ajax({
            url: "/official/suquestionAdding",
            type: "POST",
            data: {
                "qst": question,
            },
            success: function (responce) {
                // alert(response.qest_pk)
                window.location.href = '/official/suquestionAddingPage/' + responce.qest_pk
            }
        })
    }
</script>

{% endblock %}
