{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}


<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4> Select questions</h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Selected Model</label>
                <div class="col-sm-9">
                    <p>:: dsfdg</p>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="basic-form">
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Question type</label>
                    <div class="col-sm-9">
                        <!-- <div class="dropdown bootstrap-select me-sm-2 default-select form-control wide"> -->
                        <select class="me-sm-2 default-select form-control wide"tabindex="null"
                            onchange="Question()" id="colorselector">
                                <option value="objective">objective</option>
                                <option value="imageType">image Type</option>
                        </select>
                        <span id="message"></span>
                    </div>
                    <div class="col-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row colors objective" id="objective">
    <div class="card">
        <div class="card-body">
            <div class="basic-form">
                <div class="mb-3 row">
                
<label class="col-sm-3 col-form-label">Questions</label>

<div class="col-sm-9">
    <!-- <div class="dropdown bootstrap-select me-sm-2 default-select form-control wide"> -->
    <select class="me-sm-2 default-select form-control wide"tabindex="null">
        {% for ques in questions %}
        <option value="{{ ques.id }}">{{ ques.questions }}</option>
        {% endfor %}
    </select>
</div>

               
</div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Yes</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-default " placeholder="">
                        <!-- <span id="message"></span> -->
                    </div>
                    <div class="col-12">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">No</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-default " placeholder="">
                        <!-- <span id="message"></span> -->
                    </div>
                    <div class="col-12">
                    </div>
                </div>

                <button type="button" class="btn btn-success">Upload</button>
            </div>
        </div>
    </div>

<div class="row colors imageType" id="imageType">
    <div class="card">
        <div class="card-body">
            <div class="basic-form">
                <div class="mb-3 row">
                
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Select Question</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-default " placeholder="input-default">
                        <!-- <span id="message"></span> -->
                    </div>
                    <div class="col-12">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Select Question</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-default " placeholder="input-default">
                        <!-- <span id="message"></span> -->
                    </div>
                    <div class="col-12">
                    </div>
                </div>

                <button type="button" class="btn btn-success">Upload</button>
            </div>
        </div>
    </div>
</div>






<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script>


$(function() {
    $('#colorselector').change(function(){
      $('.colors').hide();
      $('#' + $(this).val()).show();
    });
  });

</script>






<!-- 
<script>
    $(document).ready(function () {
        $(".questionType").change(function () {
            $(this).find("option:selected").each(function () {
                if ($(this).attr("value") == "red") {
                    $(".box").not(".red").hide();
                    $(".red").show();
                }
                else if ($(this).attr("value") == "green") {
                    $(".box").not(".green").hide();
                    $(".green").show();
                }

                else {
                    $(".box").hide();
                }
            });
        }).change();
    });
</script> -->

{% endblock %}