{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}




<div class="row">
 <div class="col-lg-6">   




<form action="" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Add banner</h3>
    <div class="form-file p-3">
        <input type="file" class="form-file-input form-control" required name="banner">
        <br>
        <button class="btn btn-outline-primary mx-2" type="submit">add</button>
    </div>
</form>


<!-- <div>
    <img src="{{ banner.url }}" alt="">
</div> -->


{% if bannerImage %} 
{% for banner in bannerImage %}
<div class="">
    <div class="project-info">
        <div class="col-xl-7 my-2 col-lg-4 col-sm-6">

            <div class="d-flex align-items-center">
                <div class="project-media ">
                  
                    <img src="{{ banner.banner.url }}" alt="">
                   
                </div>
                <div class="ms-2">
                    <h5 class="mb-0 pt-1 font-w50 text-black"></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-5 my-2 col-lg-6 col-sm-6 text-end">
            <div class="d-flex align-items-end">

                <!-- <div class="ms-2">
                    <a onclick="" class="btn btn-outline-info"
                        data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg1">edit</a>
                </div> -->
                <div class="ms-2">
                    <button onclick="deleteBanner({{banner.id}})" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endif %}

</div>




<!-- add offers --> 
<div class="col-lg-6">
 <form action="{% url 'official:offers' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Add offers</h3>
    <div class="form-file p-3">
        <input type="file" class="form-file-input form-control" required name="offers">
        <br>
        <button class="btn btn-outline-primary mx-2" type="submit">add</button>
    </div>
</form>

{% if offerImage %}
{% for offer in offerImage %}


<div class="">
    <div class="project-info">
        <div class="col-xl-7 my-2 col-lg-4 col-sm-6">

            <div class="d-flex align-items-center">
                <div class="project-media">
                    
                    <img src="{{ offer.offer.url }}" alt="">
                   
                </div>
                <div class="ms-2">
                    <h5 class="mb-0 pt-1 font-w50 text-black"></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-5 my-2 col-lg-6 col-sm-6 text-end">
            <div class="d-flex align-items-end">

                <!-- <div class="ms-2">
                    <a onclick="" class="btn btn-outline-info"
                        data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg1">edit</a>
                </div> -->
                <div class="ms-2">
                    <button onclick="onclick=deleteOffer({{offer.id}})" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endif %}
</div>





<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function deleteBanner(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
                window.location.href = "/official/DeleteBanner/" + id
            }
        })
    }
</script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function deleteOffer(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
                window.location.href = "/official/DeleteOffer/" + id
            }
        })
    }
</script>

{% endblock %}


