{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4> User Requests</h4>
        </div>
    </div>
</div>


<div class="project-nav">
    <div class="card-action card-tabs  me-auto">
        <ul class="nav nav-tabs style-2">
            <li class="nav-item">
                <a href="#navpills-1" class="nav-link active" data-bs-toggle="tab" aria-expanded="false">All Requests
                    <span class="badge badge-pill shadow-primary badge-primary">{{all_requests|length}}</span></a>
            </li>
            <li class="nav-item">
                <a href="#navpills-2" class="nav-link" data-bs-toggle="tab" aria-expanded="false">
                    Pending Requests <span
                        class="badge badge-pill badge-info shadow-info">{{unquoted_requests|length}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#navpills-3" class="nav-link" data-bs-toggle="tab" aria-expanded="true">
                    Complete Requests <span
                        class="badge badge-pill badge-warning shadow-warning">{{quoted_requests|length}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content project-list-group" id="myTabContent">
    <div class="tab-pane fade active show" id="navpills-1">
        {% for rq in all_requests %}
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">#{{rq.request_id}}</p>
                    <h5 class="title font-w600 mb-2">
                        <a href="" class="text-black">{{rq.user}}</a>
                    </h5>
                    <div class="text-dark">
                        <i class="far fa-calendar me-3" aria-hidden="true"></i>
                        {{rq.date}}
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{{rq.phonemodel.brand_model.image.url}}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>{{rq.phonemodel.brand_model.brand}}</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">{{rq.phonemodel.brand_model}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="ms-2">
                            <span>Phone Number</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">{{rq.user}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="ms-2">
                            <span>email</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">{{rq.user.email}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <a href="{% url 'official:request_details' rq.id %}" type="button"
                            class="btn btn-outline-primary">View
                            Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="tab-pane fade" id="navpills-2">
        {% for rq in unquoted_requests %}
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">#{{rq.request_id}}</p>
                    <h5 class="title font-w600 mb-2">
                        <a href="" class="text-black">{{rq.user}}</a>
                    </h5>
                    <div class="text-dark">
                        <i class="far fa-calendar me-3" aria-hidden="true"></i>
                        {{rq.date}}
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{{rq.phonemodel.brand_model.image.url}}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>{{rq.phonemodel.brand_model.brand}}</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">{{rq.phonemodel.brand_model}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="ms-2">
                            <span>Phone Number</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">{{rq.user}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="ms-2">
                            <span>email</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">{{rq.user.email}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <a href="{% url 'official:request_details' rq.id %}" type="button"
                            class="btn btn-outline-primary">View
                            Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="tab-pane fade" id="navpills-3">
        {% for rq in quoted_requests %}
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">#{{rq.request_id}}</p>
                    <h5 class="title font-w600 mb-2">
                        <a href="" class="text-black">{{rq.user}}</a>
                    </h5>
                    <div class="text-dark">
                        <i class="far fa-calendar me-3" aria-hidden="true"></i>
                        {{rq.date}}
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{{rq.phonemodel.brand_model.image.url}}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>{{rq.phonemodel.brand_model.brand}}</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">{{rq.phonemodel.brand_model}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="ms-2">
                            <span>Phone Number</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">{{rq.user}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="ms-2">
                            <span>email</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">{{rq.user.email}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <a href="{% url 'official:request_details' rq.id %}" type="button"
                            class="btn btn-outline-primary">View
                            Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>


{% endblock %}
