{% extends 'official/partials/base.html' %}
{% block content %}
{% load static %}

<div class="row page-titles mx-0 align-items-center">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Product Details</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <a class="btn btn-primary" href="javascript:void();" data-bs-toggle="modal"
            data-bs-target="#exampleModalCenter"><i class="fa fa-shopping-basket me-2"></i>
            Exact Price
        </a>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body text-center">
                <h5 class="modal-title">The Exact Price is :</h5>
                <h4><span>₹ 150000</span></h4>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-12 col-12">

        <div class="card">
            <div class="card-body">
                <div class="my-post-content pt-3">
                    <div class="profile-personal-info">
                        <h4 class="text-primary mb-4">Personal Information</h4>
                        <div class="row mb-2">
                            <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">Name <span class="pull-end">:</span>
                                </h5>
                            </div>
                            <div class="col-sm-9 col-7"><span>{{request_details.user}}</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">Email <span class="pull-end">:</span>
                                </h5>
                            </div>
                            <div class="col-sm-9 col-7"><span>{{request_details.user.email}}</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">Phone <span class="pull-end">:</span></h5>
                            </div>
                            <div class="col-sm-9 col-7">
                                <span>{{request_details.user.phone_number}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="product-detail-content">
                    <!--Product details-->
                    <div class="new-arrival-content pr">
                        <h4>{{request_details.phonemodel.brand_model}}</h4>
                        <p>Brand: {{request_details.phonemodel.brand_model.brand}}</p>
                        <p>RAM: {{request_details.phonemodel.RAM}}</p>
                        <p>Color: {{request_details.phonemodel.color}}</p>
                        <p>Internal Storage: {{request_details.phonemodel.internal_storage}}
                        </p>
                        <p>Min Price: {{request_details.phonemodel.min_price}}</p>
                        <p>Max Price: {{request_details.phonemodel.max_price}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="pt-3">
                    <div class="settings-form">
                        <h4 class="text-primary">Qna </h4>

                        <ul>
                            {% for item in request_details.get_replies %}
                            <li class="row">
                                <strong class="col-md-4">{{item.question}} </strong>
                                <p>{{item.option.text}} - {{item.option.identifier}}</p>

                            </li>
                            {% endfor %}
                        </ul>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}
