{% extends 'official/partials/base.html' %}
{% block content %}
{% load static crispy_forms_tags %}
{% if messages %}

{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}

<div>{{ message }}</div>

{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

<div class="alert alert-success alert-dismissible fade show">
    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
        stroke-linecap="round" stroke-linejoin="round" class="me-2">
        <polyline points="9 11 12 14 22 4"></polyline>
        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
    </svg>
    <strong>{{ message }}!</strong> Payment Successfull
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
    </button>
</div>

{% endif %}
{% endfor %}
{% endif %}

<div class="row page-titles mx-0 p-3">

    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4> Wallet - Franchise List</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#wallet">Add Cash</button>
    </div>
</div>

<div class="row mt-5">

    {% for franchise in franchises %}
    <div class="col-12">
        <div class="card">
            <div class="project-info">
                <div class="col-xl-4 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">FRANCHISEID : id {{ franchise.franchise_id }}</p>
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{{ franchise.photo.url }}" alt="">
                        </div>
                        <div class="ms-2">
                            <h5 class="mb-0 pt-1 font-w50 text-black"> {{ franchise.name }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    Total Credits : ₹{{franchise.get_total_credits}}<br>
                    Total Debits : ₹{{franchise.get_total_debits}}<br>
                    Account Balance : ₹{{franchise.get_balance}}
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

</div>


<div class="modal fade" id="wallet" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <form class="" action="" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>



{% endblock %}
