{% extends "registration/registration_base.html" %}
{% load static crispy_forms_tags i18n %}
{% block title %}Login{% endblock %}

{% block content %}

<h2 class="fw-bold text-center mb-3">{% translate "Login" %}</h2>
<form class="card-body pt-3" id="login" method="post">
    {% csrf_token %}
    {{form|crispy}}

    <div class="submit">
        <button type="submit" class="btn btn-primary btn-block">SIGN IN</button>
    </div>
</form>

{% endblock content %}
{% block js %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.3/imask.min.js'></script>
<script>
    document.querySelector("#div_id_username label").innerHTML = "Phone Number<span class='asteriskField'>*</span>";
    var phoneMask = IMask(document.getElementById('id_username'), { mask: '+{91}-000-000-0000' });
</script>
{% endblock %}
