{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% translate "Reset password" %}{% endblock %}

{% block content %}
<div class="card-body pt-3">
    <p>
        {% blocktrans %}
        Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
        {% endblocktrans %}
    </p>
    <div method="post" action="">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="{% translate 'Reset password' %}" class="btn btn-primary btn-block" />
    </form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
