{% extends "registration/registration_base.html" %}
{% load static crispy_forms_tags i18n %}

{% block title %}{% translate "Register for an account" %}{% endblock %}

{% block content %}
<h2 class="fw-bold text-center mb-4">{% translate "Register for an Account" %}</h2>
<form method="post" action="">
    {% csrf_token %}
    {{form|crispy}}
    <div class="mt-3">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
</form>
{% endblock %}

{% block js %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.3/imask.min.js'></script>
<script>
    document.querySelector("#div_id_username label").innerHTML = "Phone Number<span class='asteriskField'>*</span>";
    document.querySelector("#hint_id_username").style.display = "none";
    var phoneMask = IMask(document.getElementById('id_username'), {mask: '+{91}-000-000-0000'});
</script>
{% endblock %}
