{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% translate "Registration is closed" %}{% endblock %}

{% block content %}
<div class="p-4 pt-6 text-center">
    <p>Sorry, we are not accepting registration. We're just giving our virtual pen and paper a much-needed break and giving
        our database a good old-fashioned spring cleaning. We promise it will be worth the wait! In the meantime, why
        not try solving the Rubik's Cube or learning a new dance move to pass the time?</p>
</div>
{% endblock %}