{% load static %}
<section class="featured section-padding position-relative grid-style pt-0 pt-md-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category">
                <a href="{% url 'main:sell_phone' %}">
                    <div class="banner-features wow fadeIn animated hover-up border">
                        <img src="{% static 'user/imgs/theme/icons/sell--mob-1.png' %}" alt="" class="service-icon" />
                        <h4 class="bg-1 servicetext">Sell Phone</h4>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category">
                <a href="{% url 'main:buyphone' %}">
                    <div class="banner-features wow fadeIn animated hover-up border">
                        <img src="{% static 'user/imgs/theme/icons/buy-mob.png' %}" alt="" class="service-icon" />
                        <h4 class="bg-2 servicetext">Buy phone</h4>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category">
                <a href="{% url 'main:repair_phone' %}">
                    <div class="banner-features wow fadeIn animated hover-up border">
                        <img src="{% static 'user/imgs/theme/icons/repair-mob.png' %}" alt="" class="service-icon" />
                        <h4 class="bg-2 servicetext">Repair Phone</h4>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category">
                <div class="banner-features wow fadeIn animated hover-up border">
                    <img src="{% static 'user/imgs/theme/icons/i-mac.png' %}" alt="" class="service-icon" />
                    <h4 class="bg-1 servicetext">Sell Computer</h4>
                </div>
            </div>

        </div>
    </div>
</section>
