{% load static %}
<div class="modal custom-modal show px-2" id="onloadModal" tabindex="-1" aria-labelledby="onloadModalLabel"
    aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="deal" style="background-image: url('assets/imgs/banner/menu-banner-7.png');">
                    <div class="deal-top text-center">
                        <h2 class="text-brand">Choose Your Location to sell Your Mobile Phone</h2>
                    </div>
                    <div class="deal-content">
                        <form>
                            <div class="flwidth layout vertical search-onload text-center d-none d-md-block">
                                <a href="" class="flwidth">
                                    <label for="list-search-input"
                                        class="mr-auto layout horizontal center pad10 flwidth drill-search card-shadow radius-10">
                                        <span id="search-icon" class="search-icon layout center-center">
                                            <img alt="product_search" class=""
                                                src="/static/user/imgs/ProductSearch.svg" />
                                        </span>
                                        <input type="text" class="form-control bg-white font-small"
                                            placeholder="search something.." />
                                    </label>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="deal-bottom">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/kochi.png' %}" alt="" />

                                    <h4 class="bg-1 servicetext">Calicut</h4>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/bang.png' %}" alt="" />

                                    <h4 class="bg-1 servicetext">Banglore</h4>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/kochi.png' %}" alt="" />

                                    <h4 class="bg-1 servicetext">Calicut</h4>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/bang.png' %}" alt="" />

                                    <h4 class="bg-1 servicetext">Banglore</h4>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/kochi.png' %}" alt="" />

                                    <h4 class="bg-1 servicetext">Calicut</h4>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/bang.png' %}" alt="" />

                                    <h4 class="bg-1 servicetext">Banglore</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
