{% load static %}
<div class="modal custom-modal show px-2" id="onloadModal" tabindex="-1" aria-labelledby="onloadModalLabel"
    aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="deal" style="background-image: url('assets/imgs/banner/menu-banner-7.png');">
                    <div class="deal-top text-center mb-3">
                        <h2 class="text-brand">Choose Your Location to sell Your Mobile Phone</h2>
                    </div>

                    <div class="deal-bottom content text-center">
                        <div class="d-flex flex-wrap justify-content-center">
                            <a href="/" class="content p-3 text-center d-inline-block">
                                <img src="{% static 'user/imgs/franchise/kochi.png' %}" alt="" />
                                <h4 class="bg-1 servicetext">Calicut</h4>
                            </a>
                            <a href="/" class="content p-3 text-center d-inline-block">
                                <img src="{% static 'user/imgs/franchise/bang.png' %}" alt="" />
                                <h4 class="bg-1 servicetext">Banglore</h4>
                            </a>
                            <a href="/" class="content p-3 text-center d-inline-block">
                                <img src="{% static 'user/imgs/franchise/kochi.png' %}" alt="" />
                                <h4 class="bg-1 servicetext">Calicut</h4>
                            </a>

                            <a href="/" class="content p-3 text-center d-inline-block">
                                <img src="{% static 'user/imgs/franchise/bang.png' %}" alt="" />
                                <h4 class="bg-1 servicetext">Banglore</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
