{% load static %}
<section class="section-padding bg-light">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-3 text-center">
                <img src="{% static 'user/imgs/theme/cta.png' %}" alt="" style="height:300px; object-fit:contain">
            </div>

            <div class="col-md-7 col-sm-12">
                <h3 class="mb-3">Download our app</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto magni
                    provident dolore fuga. Ipsa laborum recusandae voluptate voluptates, nesciunt
                    illum beatae fugit repellendus, reiciendis nostrum ea maxime! Cum, animi nemo!
                </p>
                <div class="img-container d-flex flex-wrap mt-3">
                    <img src="{% static 'user/imgs/theme/appstore.png' %}" alt="" style="height:40px;" class="me-2 mb-2">
                    <img src="{% static 'user/imgs/theme/playstore.png' %}" alt="" style="height:40px;" class="me-2 mb-2">
                </div>
            </div>
            <div class="col-md-2 d-md-block d-none text-center">
                <img src="{% static 'user/imgs/theme/qr.png' %}" alt="" style="height:100px;object-fit:contain">
            </div>
        </div>
    </div>
</section>
