<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h3 class="section-title"><span>FAQ</span>s</h3>
            </div>
            <div class="accordion col-sm-12 col-12" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <strong> How to delete your eazyfy account in ios?</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="product-name">
                                To delete your account please go through the following steps – Open the
                                Flypik App
                                and tap on the profile icon at the bottom right Select “My Account” then tap
                                on
                                “Delete My Account” Confirm the
                                “Deletion Request” through OTP sent on your registered mobile number Account
                                will be
                                deleted successfully within 15 days In case of any pending order(s), please
                                cancel
                                them first to proceed.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Will you accept dead phones too?</strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="product-name">Yes, we take broken and dead mobiles if you are selling
                                mobile
                                phone on Flypik. However, it might affect the overall quote of the phone.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>should i delete all the data before selling my phone?</strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="product-name">
                                We recommend you delete all the personal data and also remove the SIM and
                                memory
                                card form your phone. But, just in case you haven’t, then it’s not a problem
                                at all.
                                Because before going ahead with any
                                further procedure, we ensure that our technical expert has wiped out all the
                                available data from the device..
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
