{% load static %}
<section class="banners wusbanner section-new-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-title col-sm-12 col-12"><span>Why</span> Us</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-6 why-us">
                <div class="banner-img wow fadeIn animated">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <img src="{% static 'user/imgs/icon/best-price.png' %}" alt="" />
                        </div>
                        <div class="col-lg-9">
                            <div class="banner-texts">
                                <h4 class="whyusfont fs-14">Best Prices</h4>
                                <small class="fs-12">Objective AI-based pricing</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-6 why-us">
                <div class="banner-img wow fadeIn animated">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <img src="{% static 'user/imgs/icon/instant-pay.png' %}" alt="" />
                        </div>
                        <div class="col-lg-9">
                            <div class="banner-texts">
                                <h4 class="whyusfont fs-14">Instant Payment</h4>
                                <small class="fs-12"> Instant Money Transfer in your preferred mode at
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-6 why-us">
                <div class="banner-img wow fadeIn animated">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <img src="{% static 'user/imgs/icon/Simple-&-Convenient.png' %}" alt="" />
                        </div>
                        <div class="col-lg-9">
                            <div class="banner-texts">
                                <h4 class="whyusfont fs-14">Simple & Convenient</h4>
                                <small class="fs-12"> Check price, schedule pickup & get paid</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-6 why-us">
                <div class="banner-img wow fadeIn animated">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <img src="{% static 'user/imgs/icon/door-1.png' %}" alt="" />
                        </div>
                        <div class="col-lg-9">
                            <div class="banner-texts">
                                <h4 class="whyusfont fs-14">
                                    Free Doorstep Pickup
                                </h4>
                                <small class="fs-12">No fees for pickup across 1500 cities across
                                    India</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-6 why-us">
                <div class="banner-img wow fadeIn animated">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <img src="{% static 'user/imgs/icon/data.png' %}" alt="" />
                        </div>
                        <div class="col-lg-9">
                            <div class="banner-texts">
                                <h4 class="whyusfont fs-14">Factory Grade Data Wipe</h4>
                                <small class="fs-12">100% Safe and Data Security Guaranteed</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-6 why-us">
                <div class="banner-img wow fadeIn animated">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <img src="{% static 'user/imgs/icon/invoice.png' %}" alt="" />
                        </div>
                        <div class="col-lg-9">
                            <div class="banner-texts">
                                <h4 class="whyusfont fs-14">Valid Purchase Invoice</h4>
                                <small class="fs-12">Genuine Bill of Sale</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
