{% load static %}

<div class="deznav">
    <div class="deznav-scroll">
        <div class="main-profile">
            <div class="image-bx">
                <img src="{{pickUpBoy.photo.url}}" alt="">
                <a href="javascript:void(0);"></a>
            </div>
            <h5 class="name"><span class="font-w400">Hello,</span>{{pickUpBoy.name}}</h5>
            
        </div>
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>

            <li><a href="{% url 'pickupboy:index' %}" class="ai-icon {% if is_index %}active{% endif %}" aria-expanded="false">
                <i class="flaticon-381-home-2"></i>
                <span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li><a href="{% url 'pickupboy:total-order' %}" class="ai-icon {% if is_order %}active{% endif %}" aria-expanded="false">
            <i class="flaticon-381-menu-2"></i>
            <span class="nav-text">Orders</span>
        </a>
    </li>

    </a>
</li>
        </ul>

    </div>
</div>