#cards .card1 {
    border-radius: 20px;
    min-height: 100%;
}

#cards .heading-border {
    position: absolute;
    width: 100%;
    top: 60%;
}

#cards .card1 .user-picture img {
    position: absolute;
    top: -40%;
    right: 3%;
    background: #f8f9fa !important;
    padding: 10px;
}

#cards .card1 .user-content .user-name {
    margin-right: 150px;
}


.accent-bg {
    color: #fff;
    background-color: #dbcae8;
}

.mar-t40 {
    margin-top: 40px;
}

.layout.center,
.layout.center-center {
    align-items: center;
}

.layout.vertical {
    flex-direction: column;
}

.frame-size {
    width: 100%;
    margin: 0 auto;
    max-width: 1420px;
    padding-left: 5vw;
    padding-right: 5vw;
}
.pad-t40 {
    padding-top: 40px;
}

.layout.justified {
    justify-content: space-between;
}

.layout.wrap {
    flex-wrap: wrap;
}

.layout.horizontal {
    flex-direction: row;
}

.flwidth {
    width: 100%;
}
.pad0 {
    padding: 0;
}

.mar-b40 {
    margin-bottom: 40px;
}

.layout.center-center {
    justify-content: center;
}
.jss97 {
    width: 25%;
    padding: 16px;
}
.mar-b20 {
    margin-bottom: 20px;
}

.pad16 {
    padding: 16px;
}

.layout.center-justified,
.layout.center-center {
    justify-content: center;
}
.jss98 {
    width: 120px;
    height: 120px;
    min-width: 120px;
}

.img-resp {
    display: block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.jss103 {
    margin-left: 8px;
}

.layout {
    display: flex;
}

.font18-16 {
    font-size: calc(1rem + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.43;
}

.font-semi-bold {
    font-weight: 600;
}

.font16-14 {
    font-size: calc(0.875rem + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(1.125rem + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
}

.font-semi-bold {
    font-weight: 600;
}
.term-condition{
    font-size: 25px;
}
@media (max-width: 959.95px) {

    .layout.horizontal-mob,
    .layout.vertical-mob {
        display: flex;
    }
    .layout.vertical-mob {
        flex-direction: column;
        width: 142px;
        text-align: center;
    }
    .layout.justified {
        padding: 0px 28px;
    }
    .c-btn{
        padding: 10px 27px !important;
        display: inline-block;
        border: 1px solid transparent;
        font-size: 14px;
        font-weight: 700;
        border-radius: 4px;
        color: #fff;
        border: 1px solid #621299;
        background-color: #621299;
        cursor: pointer;
        -webkit-transition: all 300ms linear 0s;
        transition: all 300ms linear 0s;
        letter-spacing: 0.5px;
    }
    
}
@media screen and (min-width:320px) and (max-width:760px) {
    .acc-tab{
        margin-top: 30px;
    }
    .pp{
        padding: 2rem 1rem;
    }
    .term-condition{
        font-size: 20px;
    }
    .terms{
        font-size: 17px !important;
    }
    .nomobileview{
        display: none;
    }
}