{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Eazyfy Admin</title>

    <link rel="shortcut icon" href="{% static 'official/imgages/logo/logo.png' %}">

    <link rel="stylesheet" href="{% static 'official/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'official/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'official/plugins/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'official/css/style.css' %}">
</head>

<body class="nk-body bg-lighter npc-default has-sidebar no-touch nk-nio-theme">

    <div class="main-wrapper">

        


        {% include 'official/partials/header.html' %}


        <div class="page-wrapper">
            {% block content %}
            {% endblock %}
        </div>

        {% include 'official/partials/sidebar.html' %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js' %}"></script>

    <script src="{% static 'official/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'official/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'official/js/feather.min.js' %}"></script>

    <script src="{% static 'official/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static 'official/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'official/plugins/apexchart/chart-data.js' %}"></script>

    <script src="{% static 'official/js/script.js' %}"></script>
</body>

</html>