{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>EAZYFY Admin</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'official/images/eazyfyfav.png' %}">
    <link rel="stylesheet" href="{% static 'official/vendor/datatables/css/jquery.dataTables.min.css' %}?v=1.1">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon.png">
    <link rel="stylesheet" href="{% static 'official/vendor/chartist/css/chartist.min.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'official/vendor/owl-carousel/owl.carousel.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'official/css/style.css' %}?v=1.1">

</head>

<body>

    <div id="main-wrapper">

        {% include 'official/partials/header.html' %}
        {% include 'official/partials/sidebar.html' %}

        <div class="content-body">
            <div class="container-fluid">

                {% block content %}

                {% endblock %}

            </div>
        </div>

        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="" target="_blank">Gedexo</a> 2022</p>
            </div>
        </div>

    </div>


    <script src="{% static 'official/vendor/global/global.min.js' %}?v=1.1"></script>
    <script src="{% static 'official/vendor/chart.js/Chart.bundle.min.js' %}?v=1.1"></script>
    <script src="{% static 'official/vendor/peity/jquery.peity.min.js' %}?v=1.1"></script>
    <script src="{% static 'official/vendor/apexchart/apexchart.js' %}?v=1.1"></script>
    <script src="{% static 'official/vendor/owl-carousel/owl.carousel.js' %}?v=1.1"></script>
    <script src="{% static 'official/js/custom.js' %}?v=1.1"></script>
    <script src="{% static 'official/js/deznav-init.js' %}?v=1.1"></script>

    <script src="{% static 'official/vendor/datatables/js/jquery.dataTables.min.js' %}?v=1.1"></script>
    <script src="{% static 'official/js/plugins-init/datatables.init.js' %}?v=1.1"></script>
    {% block js %}

    {% endblock %}

</body>

</html>
