{% load static %}

<div class="deznav">
    <div class="deznav-scroll">
        <div class="main-profile">
            <div class="image-bx">
                <img src="{% static 'official/images/avatar/default-1.JPG' %}" alt="">
                <a href="javascript:void(0);"><i class="fa fa-cog" aria-hidden="true"></i></a>
            </div>
            <h5 class="name"><span class="font-w400">Hello,</span> ADMIN</h5>
        </div>


        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li>
                <a href="{% url 'official:home' %}" class="ai-icon {% if is_index %}active{% endif %}" aria-expanded="false">
                    <i class="flaticon-144-layout"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'official:userrequestlist' %}" class="ai-icon {% if is_request %}active{% endif %}" aria-expanded="false">
                    <i class="flaticon-381-user-9"></i>
                    <span class="nav-text">User Request</span>
                </a>
            </li>
            <li>
                <a href="{% url 'official:wallet' %}" class="ai-icon {% if is_wallet %} active {% endif %}" aria-expanded="false">
                    <i class="flaticon-381-id-card-2"></i>
                    <span class="nav-text">Wallet</span>
                </a>
            </li>
            <li>
                <a href="{% url 'official:franchise' %}" class="ai-icon {% if is_franchise %}active{% endif %}" aria-expanded="false">
                    <i class="flaticon-381-blueprint"></i>
                    <span class="nav-text">Franchise</span>
                </a>
            </li>
            <li>
                <a href="{% url 'official:brand' %}" class="ai-icon {% if is_product %}active{% endif %}" aria-expanded="false">
                    <i class="flaticon-381-smartphone-3"></i>
                    <span class="nav-text">Product</span>
                </a>
            </li>
            <li>
                <a href="{% url 'official:questions' %}" class="ai-icon {% if is_questions %}active{% endif %}" aria-expanded="false">
                    <i class="flaticon-381-pencil"></i>
                    <span class="nav-text">Questions</span>
                </a>
            </li>
            <li>
                <a href="{% url 'official:transactionhistory' %}" class="ai-icon {% if is_transaction %}active{% endif %}" aria-expanded="false">
                    <i class="flaticon-381-transfer"></i>
                    <span class="nav-text">Transaction History</span>
                </a>
            </li>
        </ul>
    </div>
</div>