{% extends 'franchise/partials/base.html' %}
{% block content %}
{% load static %}

<div class="form-head mb-sm-2 mb-1 d-flex align-items-center flex-wrap">
    <h2 class="font-w600 mb-0 me-auto mb-2 text-black">Dashboard</h2>
</div>

<div class="row">

    <div class="col-sm-4">
        <div class="card-bx stacked card">
            <img src="{% static 'official/images/card/card1.jpg' %}" alt="">
            <div class="card-info">
                <p class="mb-1 text-white fs-14">Wallet Credits Total</p>
                <div class="d-flex justify-content-between">
                    <h2 class="num-text text-white mb-5 font-w600">{{franchise.get_total_credits}}</h2>
                    <svg width="55" height="34" viewBox="0 0 55 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="38.0091" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"></circle>
                        <circle cx="17.4636" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-bx stacked card">
            <img src="{% static 'official/images/card/card1.jpg' %}" alt="">
            <div class="card-info">
                <p class="mb-1 text-white fs-14">Wallet Debits Total</p>
                <div class="d-flex justify-content-between">
                    <h2 class="num-text text-white mb-5 font-w600">{{franchise.get_total_debits}}</h2>
                    <svg width="55" height="34" viewBox="0 0 55 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="38.0091" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"></circle>
                        <circle cx="17.4636" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-bx stacked card">
            <img src="{% static 'official/images/card/card1.jpg' %}" alt="">
            <div class="card-info">
                <p class="mb-1 text-white fs-14">Wallet Balance</p>
                <div class="d-flex justify-content-between">
                    <h2 class="num-text text-white mb-5 font-w600">{{franchise.get_balance}}</h2>
                    <svg width="55" height="34" viewBox="0 0 55 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="38.0091" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"></circle>
                        <circle cx="17.4636" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card-bx stacked card">
            <img src="{% static 'official/images/card/card2.jpg' %}" alt="">
            <div class="card-info">
                <p class="fs-14 mb-1 text-white">Total Orders</p>
                <div class="d-flex justify-content-between">
                    <h2 class="num-text text-white mb-5 font-w600">0</h2>
                    <svg width="55" height="34" viewBox="0 0 55 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="38.0091" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"></circle>
                        <circle cx="17.4636" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"></circle>
                    </svg>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-bx stacked card">
            <img src="{% static 'official/images/card/card3.jpg' %}" alt="">
            <div class="card-info">
                <p class="mb-1 text-white fs-14">No. of Pickup Boys</p>
                <div class="d-flex justify-content-between">
                    <h2 class="num-text text-white mb-5 font-w600">0</h2>
                    <svg width="55" height="34" viewBox="0 0 55 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="38.0091" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"></circle>
                        <circle cx="17.4636" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"></circle>
                    </svg>
                </div>

            </div>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header border-0 pb-0">
                <h4 class="mb-0 fs-20 text-black">Payment to Franchise</h4>
            </div>
            <div class="card-body p-3 pb-0 sell-order">

                <div class="table-responsive">
                    <table class="table text-center bg-info-hover tr-rounded order-tbl">
                        <thead>
                            <tr>
                                <th class="text-left">Franchise</th>
                                <th class="text-center">Amount</th>
                                <th class="text-right">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for income in incomes %}
                            <tr>
                                <td class="text-left">{{income.franchise}}</td>
                                <td>{{income.amount}}</td>
                                <td class="text-right">{{income.date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header border-0 pb-0">
                <h4 class="mb-0 text-black fs-20">Payment to Admin</h4>

            </div>
            <div class="card-body p-3 pb-0">

                <div class="table-responsive">
                    <table class="table text-center bg-warning-hover tr-rounded order-tbl">
                        <thead>
                            <tr>
                                <th>Franchise</th>
                                <th class="text-right">amount </th>
                                <th class="text-center">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expenses %}
                            <tr>
                                <td class="text-left">{{expense.franchise}}</td>
                                <td>{{expense.amount}}</td>
                                <td class="text-right">{{expense.date}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
