{% extends 'franchise/partials/base.html' %}
{% block content %}
{% load static %}

<div class="sub-header pt-5 pt-sm-5 pt-xs-5">
    <div class="d-flex align-items-center flex-wrap me-auto">
        <h3 class="dashboard_bar">Total Orders</h3>
    </div>

</div>
<div class="modal fade" id="addProjectSidebar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Project</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="text-black font-w500">Project Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="text-black font-w500">Deadline</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="text-black font-w500">Client Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary">CREATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="project-nav">
    <div class="card-action card-tabs  me-auto">
        <ul class="nav nav-tabs style-2">
            <li class="nav-item">
                <a href="#navpills-1" class="nav-link active" data-bs-toggle="tab" aria-expanded="false">Total Orders<span class="badge badge-pill shadow-primary badge-primary">154</span></a>
            </li>
            <li class="nav-item">
                <a href="#navpills-2" class="nav-link" data-bs-toggle="tab" aria-expanded="false">Requests<span class="badge badge-pill badge-info shadow-info">2</span></a>
            </li>
            <li class="nav-item">
                <a href="#navpills-3" class="nav-link" data-bs-toggle="tab" aria-expanded="true">Completed<span class="badge badge-pill badge-warning shadow-warning">4</span></a>
            </li>
            <li class="nav-item">
                <a href="#navpills-4" class="nav-link" data-bs-toggle="tab" aria-expanded="true">Order Queues<span class="badge badge-pill badge-danger shadow-danger"><i class="fa fa-shopping-cart"></i></span></a>
            </li>
        </ul>
    </div>

</div>
<div class="tab-content project-list-group" id="myTabContent">	
    <div class="tab-pane fade active show" id="navpills-1">
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                       
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Select Pick-up Boy </a>
                    </div>

                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                       
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Select Pick-up Boy </a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                       
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Select Pick-up Boy </a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                        
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Select Pick-up Boy </a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                        
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Select Pick-up Boy </a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
{% comment %}
        <nav class="mt-5">
            <ul class="pagination pagination-gutter pagination-primary no-bg">
                <li class="page-item page-indicator">
                    <a class="page-link" href="javascript:void(0)">
                        <i class="la la-angle-left"></i></a>
                </li>
                <li class="page-item "><a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                <li class="page-item page-indicator">
                    <a class="page-link" href="javascript:void(0)">
                        <i class="la la-angle-right"></i></a>
                </li>
            </ul>
        </nav>
        {% endcomment %}

    </div>

<!-- ####################NAVPILL ##########################--> 
    <div class="tab-pane fade" id="navpills-2">
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                       
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Select Pick-up Boy </a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                        
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Select Pick-up Boy </a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
<!-- ####################NAVPILL END ##########################-->


<!-- ####################NAVPILL ##########################-->
    <div class="tab-pane fade" id="navpills-3">
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                      
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Select Pick-up Boy </a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                        
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Select Pick-up Boy </a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                       
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" href="{% url 'pickupboy:customer-selfy' %}" class="btn btn-outline-danger"data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">Select Pick-up Boy</a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                      
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" href="{% url 'pickupboy:customer-selfy' %}" class="btn btn-outline-danger"data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">Select Pick-up Boy</a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                        
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Select Pick-up Boy </a>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ####################NAVPILL END ##########################-->


<!-- ####################NAVPILL ##########################-->
    <div class="tab-pane fade" id="navpills-4">
        <div class="card">
            <div class="project-info">
                <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                    <p class="text-primary mb-1">ORDERID : 000441425</p>
                    <!-- <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Kripton Mobile App</a></h5>
                    <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>Created on Sep 8th, 2020</div> -->

                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic1.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Client</span>
                            <h5 class="mb-0 pt-1 font-w50 text-black">Alex Noer</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="project-media">
                            <a type="button" href="{% url 'pickupboy:product-details' %}" class="btn btn-outline-info">View</a>
                        </div>
                       
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="project-media">
                            <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                        </div>
                        <div class="ms-2">
                            <span>Person in charge</span>
                            <h5 class="mb-0 pt-1 font-w500 text-black">Yoast Esec</h5>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                    <div class="ms-2">
                        <div class="d-flex align-items-center">
                            <div class="project-media">
                                <img src="{% static 'official/images/users/pic2.jpg' %}" alt="">
                            </div>
                            <div class="ms-2">
                                <span>Pickup Boy</span>
                                <h5 class="mb-0 pt-1 font-w50 text-black">Irfan</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                    <div class="d-flex project-status align-items-center">
                        <span class="btn bgl-warning text-warning status-btn me-3">Pending</span>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ####################NAVPILL END ##########################-->
</div>

<!-- modal -->

<div class="modal fade" id="exampleModalCenter" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select One</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
<div>
            </div>
            <div class="text-center">
                <div class="basic-dropdown">
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Select pickup Boy
                        </button>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" href="#">pickup Boy1</a>
                            <a class="dropdown-item" href="#">pickup Boy2</a>
                            <a class="dropdown-item" href="#">pickup Boy3</a>
                        </div>
                    </div>
                </div>


                <!-- <div class="btn-group mb-1">
                    <button type="button" class="btn btn-secondary ">Select Pick-Up Boy</button>
                    <button type="button" class="btn btn-secondary dropdown-toggle show" data-bs-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Pickup boy1</a>
                        <a class="dropdown-item" href="#">Pickup boy2</a>
                        <a class="dropdown-item" href="#">Pickup boy3</a>
                        
                    </div>
                </div> -->
            </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}