{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'user/css/more.css' %}">

<main class="main single-page">



    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                    <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Company</h6>
                    <h3 class="font-heading mb-10">
                        We are Building The Destination For Getting Things Done
                    </h3>
                    <p>Tempus ultricies augue luctus et ut suscipit. Morbi arcu, ultrices purus dolor erat bibendum
                        sapien metus.</p>
                    <p>Tempus ultricies augue luctus et ut suscipit. Morbi arcu, ultrices purus dolor erat bibendum
                        sapien metus. Sit mi, pharetra, morbi arcu id. Pellentesque dapibus nibh augue senectus. </p>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'user/imgs/page/about-1.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>


    <!-- team button -->
    <section id="team" class="pt-25 wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Team</h6>
                    <h3 class="mb-10 wow fadeIn animated">Top team of experts</h3>
                    <p class="text-grey-3 wow fadeIn animated">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ratione optio perferendis sequi mollitia quis autem ea cupiditate possimus!</p>
                </div>
                <div class="col-md-6 text-md-end mt-30">
                    <a href="#members" class="btn btn-outline brand-text btn-lg btn-brand-outline font-weight-bold text-hover-white border-radius-5 btn-shadow-brand hover-up">All
                        Members</a>
                </div>
            </div>
        </div>
    </section>



    <!-- why us -->
    <section class="mt-400 pb-10">
        <div class="accent-bg mt-10">
            <div class="layout vertical center card-header frame-size pad-t40">
                <ul class="layout horizontal wrap justified pad0 flwidth">
                    <li class="layout horizontal vertical-mob center-center pad16 mar-b20 jss97">
                        <div class="layout horizontal center-center flwidth jss98">
                            <img alt="Cashify" class="img-resp"
                                src="https://s3n.cashify.in/imageLibrary/15_lakh_customer_500baeebe850.png">
                        </div>
                        <div class="layout vertical center-center-mob flwidth jss103">
                            <span class="font-semi-bold font18-16">1.4 Cr+</span>
                            <span class="font-semi-bold font16-14">Customers</span>
                        </div>
                    </li>
                    <li class="layout horizontal vertical-mob center-center pad16 mar-b20 jss97">
                        <div class="layout horizontal center-center flwidth jss98">
                            <img alt="Cashify" class="img-resp"
                                src="https://s3n.cashify.in/imageLibrary/cash_efc77232393e.png">
                        </div>
                        <div class="layout vertical center-center-mob flwidth jss103">
                            <span class="font-semi-bold font18-16">50 Lakh+</span>
                            <span class="font-semi-bold font16-14">Devices Bought</span>
                        </div>
                    </li>
                    <li class="layout horizontal vertical-mob center-center pad16 mar-b20 jss97">
                        <div class="layout horizontal center-center flwidth jss98">
                            <img alt="Cashify" class="img-resp"
                                src="https://s3n.cashify.in/imageLibrary/cash_efc77232393e.png">
                        </div>
                        <div class="layout vertical center-center-mob flwidth jss103">
                            <span class="font-semi-bold font18-16">2500 Cr+</span>
                            <span class="font-semi-bold font16-14">Cash Given</span>
                        </div>
                    </li>
                    <li class="layout horizontal vertical-mob center-center pad16 mar-b20 jss97">
                        <div class="layout horizontal center-center flwidth jss98">
                            <img alt="Cashify" class="img-resp"
                                src="https://s3n.cashify.in/imageLibrary/Offline_Stores_13a0b9059bcb.png">
                        </div>
                        <div class="layout vertical center-center-mob flwidth jss103">
                            <span class="font-semi-bold font18-16">150+</span>
                            <span class="font-semi-bold font16-14">Offline Stores</span>
                        </div>
                    </li>
                    <li class="layout horizontal vertical-mob center-center pad16 mar-b20 jss97">
                        <div class="layout horizontal center-center flwidth jss98"><img alt="Cashify" class="img-resp"
                                src="https://s3n.cashify.in/imageLibrary/1_Mn_10aad13ff451.png"></div>
                        <div class="layout vertical center-center-mob flwidth jss103"><span
                                class="font-semi-bold font18-16">10 Mn+</span><span class="font-semi-bold font16-14">
                                Devices
                            </span></div>
                    </li>
                    <li class="layout horizontal vertical-mob center-center pad16 mar-b20 jss97">
                        <div class="layout horizontal center-center flwidth jss98"><img alt="Cashify" class="img-resp"
                                src="https://s3n.cashify.in/imageLibrary/10_Lakh_387a3153d208.png"></div>
                        <div class="layout vertical center-center-mob flwidth jss103"><span
                                class="font-semi-bold font18-16">40 Lakh+</span><span
                                class="font-semi-bold font16-14">Devices Sold</span></div>
                    </li>
                    <li class="layout horizontal vertical-mob center-center pad16 mar-b20 jss97">
                        <div class="layout horizontal center-center flwidth jss98"><img alt="Cashify" class="img-resp"
                                src="https://s3n.cashify.in/imageLibrary/Serviceable_locations_c06cb8ac9185.png"></div>
                        <div class="layout vertical center-center-mob flwidth jss103"><span
                                class="font-semi-bold font18-16">15000+</span><span
                                class="font-semi-bold font16-14">Serviceable Locations</span></div>
                    </li>
                    <li class="layout horizontal vertical-mob center-center pad16 mar-b20 jss97">
                        <div class="layout horizontal center-center flwidth jss98"><img alt="Cashify" class="img-resp"
                                src="https://s3n.cashify.in/imageLibrary/Services_d9a04f70e9d8.png"></div>
                        <div class="layout vertical center-center-mob flwidth jss103"><span
                                class="font-semi-bold font18-16">1000+</span><span
                                class="font-semi-bold font16-14">Partners</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Locations -->
    <section id="work" class="mt-400 pb-10">
        <div class="container">
            <div class="row mb-50">
                <div class="col-lg-12 col-md-12 text-center">
                    <h6 class="mt-0 mb-5 text-uppercase  text-brand font-sm wow fadeIn animated">Eazy Coporation</h6>
                    <h3 class="mb-15 text-grey-1 wow fadeIn animated">Our main branches<br> around the world</h3>
                    <p class="w-50 m-auto text-grey-3 wow fadeIn animated">At vero eos et accusamus et iusto odio
                        dignissimos ducimus quiblanditiis praesentium. ebitis nesciunt voluptatum dicta reprehenderit
                        accusamus</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center mb-md-0 mb-4">
                    <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated"
                        src="{% static 'user/imgs/page/company-1.jpg' %}" alt="">
                    <h4 class="mt-30 mb-15 wow fadeIn animated">New York, USA</h4>
                    <p class="text-grey-3 wow fadeIn animated">27 Division St, New York<br>NY 10002, USA</p>
                </div>
                <div class="col-md-4 text-center mb-md-0 mb-4">
                    <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated"
                        src="{% static 'user/imgs/page/company-2.jpg' %}" alt="">
                    <h4 class="mt-30 mb-15 wow fadeIn animated">Paris, France</h4>
                    <p class="text-grey-3 wow fadeIn animated">22 Rue des Carmes<br> 75005 Paris</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated"
                        src="{% static 'user/imgs/page/company-3.jpg' %}" alt="">
                    <h4 class="mt-30 mb-15 wow fadeIn animated">Jakarta, Indonesia</h4>
                    <p class="text-grey-3 wow fadeIn animated">2476 Raya Yogyakarta,<br>89090 Indonesia</p>
                </div>
            </div>
        </div>
    </section>


    <!-- team -->
    <section id="members" class="section-padding section-border" >
        <div class="container pt-25">
            <div class="row mb-50">
                <div class="col-lg-12 col-md-12 text-center">
                    <!-- <h6 class="mt-0 mb-10 text-uppercase  text-brand font-sm wow fadeIn animated">some facts</h6> -->
                    <h3 class="mb-15 text-grey-1 wow fadeIn animated">Team</h3>
                    <p class="w-50 m-auto text-grey-3 wow fadeIn animated">At vero eos et accusamus et iusto odio
                        dignissimos ducimus quiblanditiis praesentium. ebitis nesciunt voluptatum dicta reprehenderit
                        accusamus</p>
                </div>
            </div>

            <div class="row align-items-center mt-5">
                <section id="cards">
                    <div class="container py-2">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 60px;">
                                <div class="card shadow-sm border-0 card1">
                                    <div class="card-body">
                                        <div class="user-picture">
                                            <img src="https://images.unsplash.com/photo-1495603889488-42d1d66e5523?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=130&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=130"
                                                class="shadow-sm rounded-circle" height="130" width="130" />
                                        </div>
                                        <div class="user-content">
                                            <h5 class="">Carry Johnshon</h5>
                                            <p class="text-muted small">CFO
                                            </p>

                                            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus
                                                quaerat dolores ut, cupiditate molestiae commodi! Distinctio
                                                praesentium, debitis aut minima doloribus earum
                                                quia commodi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 " style="margin-top: 60px;">
                                <div class="card shadow-sm border-0 card1">
                                    <div class="card-body">
                                        <div class="user-picture ">
                                            <img src="https://images.unsplash.com/photo-1582003457856-20898dd7e1ea?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=130&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=130"
                                                class="shadow-sm rounded-circle" height="130" width="130" />
                                        </div>
                                        <div class="user-content">
                                            <h5 class="">Alex Carry</h5>
                                            <p class=" text-muted small ">CFO</p>
                                            <div class="mt-5"></div>
                                            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus
                                                quaerat dolores ut, cupiditate molestiae commodi! Distinctio
                                                praesentium, debitis aut minima doloribus earum
                                                quia commodi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 60px;">
                                <div class="card shadow-sm border-0 card1">
                                    <div class="card-body">
                                        <div class="user-picture">
                                            <img src="https://images.unsplash.com/photo-1492447166138-50c3889fccb1?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=130&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=130"
                                                class="shadow-sm rounded-circle" height="130" width="130" />
                                        </div>
                                        <div class="user-content">
                                            <h5 class="">John Smith</h5>
                                            <p class="text-muted small">CFO
                                            </p>
                                            <div class="mt-5">
                                            </div>
                                            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus
                                                quaerat dolores ut, cupiditate molestiae commodi! Distinctio
                                                praesentium, debitis aut minima doloribus earum
                                                quia commodi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 60px;">
                                <div class="card shadow-sm border-0 card1">
                                    <div class="card-body">
                                        <div class="user-picture">
                                            <img src="https://i.picsum.photos/id/836/130/130.jpg?hmac=Sot_REUw5W-XSuE6FmCjT9JenhZfiNqZYs3AQbfrZsc"
                                                class="shadow-sm rounded-circle" height="130" width="130" />
                                        </div>
                                        <div class="user-content">
                                            <h5 class="">George Alex</h5>
                                            <p class="text-muted small">CFO
                                            </p>

                                            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus
                                                quaerat dolores ut, cupiditate molestiae commodi! Distinctio
                                                praesentium, debitis aut minima doloribus earum
                                                quia commodi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 60px;">
                                <div class="card shadow-sm border-0 card1">
                                    <div class="card-body">
                                        <div class="user-picture">
                                            <img src="https://images.unsplash.com/photo-1495603889488-42d1d66e5523?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=130&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=130"
                                                class="shadow-sm rounded-circle" height="130" width="130" />
                                        </div>
                                        <div class="user-content">
                                            <h5 class="">Carry Johnshon</h5>
                                            <p class=" text-capitalize text-muted small">CFO
                                            </p>

                                            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus
                                                quaerat dolores ut, cupiditate molestiae commodi! Distinctio
                                                praesentium, debitis aut minima doloribus earum
                                                quia commodi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 60px;">
                                <div class="card shadow-sm border-0 card1">
                                    <div class="card-body">
                                        <div class="user-picture">
                                            <img src="https://images.unsplash.com/photo-1582003457856-20898dd7e1ea?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=130&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=130"
                                                class="shadow-sm rounded-circle" height="130" width="130" />
                                        </div>
                                        <div class="user-content">
                                            <h5 class="">Alex Carry</h5>
                                            <p class=" text-capitalize text-muted small">CFO
                                            </p>
                                            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus
                                                quaerat dolores ut, cupiditate molestiae commodi! Distinctio
                                                praesentium, debitis aut minima doloribus earum
                                                quia commodi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</main>

{% endblock %}