{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}



<section class="mb-50 mt-50">
    <div class="container">
        <div class="row flex-row-reverse mt-5 mb-5">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card card-body p-5">
                    <div class="product-detail accordion-detail">

                        <div class="row">

                            <div class="col-2 col-lg-2 col-sm-2"></div>

                            <div class="col-sm-8 col-md-8 text-center">
                                <h2 class="title-detail">
                                    Thank You For Connecting
                                </h2>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <h5 style="color: violet;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur est quis eos quidem temporibus expedita vel voluptates corrupti quos natus libero nihil ad ab animi neque odit, exercitationem tenetur aspernatur.</h5>
                                    </div>
                                </div>
                                <div class="detail-info text-center">

                                    <div class="attr-detail attr-color text-center" style="padding: 0px 200px;">
                                        <h6 class="text-center">
                                            <button  class="btn btn-sm btn-default" style="padding: 10px 30px;">
                                                XXXXX
                                            </button>
                                        </h6>
                                    </div>

                                </div>



                                <div class="bt-1 border-color-1 mt-30 mb-30">
                                    <h6>Get Updates On :</h6>
                                    <div class="row mt-20">

                                        <div class="col-6 text-end">
                                            <a href="">
                                                <img src="https://img.icons8.com/color/48/null/ringer-volume.png"/>
                                            </a>
                                        </div>
                                        <div class="col-6 text-start">
                                            <a href="">
                                                <img src="https://img.icons8.com/color/48/null/whatsapp--v1.png"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-2 col-lg-2 col-sm-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</section>




{% endblock %}
