{% extends 'user/partials/base.html' %}
{% load static humanize %}
{% block content %}

<!-- modal -->

{% for variant in model.get_variants %}
<div class="modal fade custom-modal" id="quickViewModal{{ variant.id }}" tabindex="-1"
    aria-labelledby="quickViewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body p-5">

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-6">
                        <div class="detail-gallery text-center">
                            <img class="default-img " src="{{ variant.brand_model.image.url}}" alt="">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 col-6">
                        <div class="detail-info">
                            <h2 class="title-detail mt-15"> {{ variant.brand_model.name|upper }}</h2>
                            <div class="product-detail-rating">
                                <div class="pro-details-brand row">
                                    <div class="mt-10">
                                        <span class="d-block text-brand">RAM: {{ variant.RAM }}</span>
                                        <span class="d-block text-brand">Color: {{ variant.color }}</span>
                                        <span class="d-block text-brand">Storage: {{ variant.internal_storage }}</span>
                                    </div>
                                </div>
                            </div>

                            <a href="{% url 'user:question' variant.id %}"
                                class="btn btn-curved btn-primary btn-lg">Proceed</a>

                        </div>
                        <!-- Detail Info -->
                    </div>

                    <div class="col-12">
                        <div class="mt-20 text-center">
                            <span class="d-block fs-6 fw-bold text-brand text-success">
                                Price: &#8377;{{variant.min_price|intcomma }} -
                                &#8377;{{variant.max_price|intcomma}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}



<!-- spec dynamic -->
<section class="mb-50 mt-50">
    <div class="container">
        <h3 class="section-title">{{model.name}}</h3>
        <div class="row flex-row-reverse">
            <div class="col-12">
                <div class="card card-body p-5">
                    <div class="product-detail accordion-detail">

                        <div class="row">
                            <div class="col-sm-4 col-md-6">
                                <div class="product-img-action-wrap text-center p-2">
                                    <div class="product-img product-img-zoom ">
                                        <img class="default-img " src="{{ model.image.url }}" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-8 col-md-6">
                                <h2 class="title-detail text-md-start text-center">{{ model.name|upper }}</h2>
                                <div class="product-detail-rating text-md-start text-center">
                                    <div class="pro-details-brand">
                                        <h5 style="color: violet;"> 300+ <a href="">
                                                already sold on easyfy</a></h5>
                                    </div>
                                </div>
                                <div class="detail-info">

                                    <div class="bt-1 border-color-1 mt-15 mb-15 text-md-start text-center">
                                        <p class="text-md-start text-center mb-0">Choose a variant</p>
                                    </div>

                                    <div
                                        class="attr-detail attr-size d-flex mb-15 justify-content-md-start justify-content-center">
                                        {% for variant in model.get_variants %}
                                        <div class="list-filter size-filter font-small">
                                            <a data-bs-toggle="modal" data-bs-target="#quickViewModal{{ variant.id }}"
                                                class="btn btn-secondary d-inline-block">
                                                <span class="d-block fs-12">RAM: {{ variant.RAM }}</span>
                                                <span class="d-block fs-12">Color: {{ variant.color }}</span>
                                                <span class="d-block fs-12">
                                                    Storage: {{ variant.internal_storage}}</span>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'partials/most_selling.html' %}

<!-- most selling brand -->
<section class="popular-categories section-padding mt-15">
    <div class="container wow fadeIn animated">
        <h3 class="section-title"><span>Most </span>selling brand</h3>
        <div class="carausel-6-columns-cover position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
            <div class="carausel-6-columns" id="carausel-6-columns">
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shops"><img src="{% static 'user/imgs/banner/apple.jpg' %}" alt=""></a>
                    </figure>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="#"> <img src="{% static 'user/imgs/banner/honor.jpg' %}" alt=""></a>
                    </figure>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="#"><img src="{% static 'user/imgs/banner/hp.jpg' %}" alt=""></a>
                    </figure>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="#"><img src="{% static 'user/imgs/banner/nok.jpg' %}" alt=""></a>
                    </figure>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="#"><img src="{% static 'user/imgs/banner/one.jpg' %}" alt=""></a>
                    </figure>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="#"><img src="{% static 'user/imgs/banner/sam.jpg' %}" alt=""></a>
                    </figure>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="#"><img src="{% static 'user/imgs/banner/oppo.jpg' %}" alt=""></a>
                    </figure>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="#"><img src="{% static 'user/imgs/banner/real.jpg' %}" alt=""></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
