
{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}





<div class="row align-items-center  text-center">
    <div class="col-lg-8 m-auto">
        <h6 class="mb-50 mb-30"><img src="{% static 'user/imgs/theme/coming.png' %}" alt="" class="hover-up"></h6>
        <h2 class="">Coming Soon</h2>
        <p class="font-lg text-grey-700 mb-30">
            <a class="submit-auto-width font-xs hover-up text-grey" href="{% url 'user:index' %}">Back To Home Page</a> 
        </p>
        <form class="contact-form-style text-center" id="contact-form" action="#" method="post">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <!-- <div class="input-style mb-20 hover-up">
                        <input name="name" placeholder="Search" type="text">
                    </div> -->
                </div>
            </div>

        </form>
    </div>
</div>


{% endblock %}