{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}


    <section class="home-slider position-relative pt-25 pb-20">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="position-relative">
                        <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                            <div class="single-hero-slider single-animation-wrap">
                                <div class="container-fluid">
                                    <div class="slider-1-height-3 slider-animated-1">
                                        <div class="hero-slider-content-2">
                                            <!-- <p class="animated">Save more with coupons & up to 70% off</p> -->
                                            <h4 class="animated color-banner-text1">Trade-In Offer</h4>
                                            <h2 class="animated fw-900 color-banner-text2">Supper Value Deals</h2>
                                            <!-- <h1 class="animated fw-900 text-brand">On All Products</h1> -->
                                            <!-- <p class="animated">Save more with coupons & up to 70% off</p> -->
                                            <a class="animated btn btn-brush btn-brush-3"
                                                href="shop-product-right.html"> Shop Now </a>
                                        </div>
                                        <div class="slider-img">
                                            <img src="{% static 'user/imgs/slider/bnr1.jpg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<!-- grid section -->



    <section class="featured section-padding position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-2 col-sm-2 col-3 col-xs-3 grid-item">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/imgs/theme/icons/cqash.png' %}" alt="" class="service-icon">

                        <h4 class="bg-1 servicetext " >Sell Phone</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-2  col-sm-2 col-3 col-xs-3 grid-item">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/imgs/theme/icons/cqash.png' %}" alt="" class="service-icon">
                        <h4 class="bg-2 servicetext">Repair Phone</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-2   col-sm-2 col-3 col-xs-3 grid-item">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/imgs/theme/icons/cqash.png' %}" alt="" class="service-icon">
                        <h4 class="bg-2 servicetext">Buy Phone</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-2 col-sm-2 col-3 col-xs-3 grid-item">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/imgs/theme/icons/cqash.png' %}" alt="" class="service-icon">
                        <h4 class="bg-1 servicetext">Sell Phone</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-2   col-sm-2 col-3 col-xs-3 grid-item">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/imgs/theme/icons/cqash.png' %}" alt="" class="service-icon">
                        <h4 class="bg-2 servicetext">Repair Phone</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-2   col-sm-2 col-3 col-xs-3 grid-item">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/imgs/theme/icons/cqash.png' %}" alt="" class="service-icon">
                        <h4 class="bg-2 servicetext">Buy Phone</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-2   col-sm-2 col-3 col-xs- grid-item">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/imgs/theme/icons/cqash.png' %}" alt="" class="service-icon">
                        <h4 class="bg-2 servicetext">Repair Phone</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-2 col-sm-2 col-3 col-xs-3 grid-item">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/imgs/theme/icons/cqash.png' %}" alt="" class="service-icon">

                        <h4 class="bg-1 servicetext">Sell Phone</h4>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- ------------------------- -->



    <!-- repair service section -->
    <section class="banner-2 section-padding pb-0">
        <div class="container">
            <div class="banner-img banner-big wow fadeIn animated f-none">
                <img src="assets/imgs/banner/sp1.jpg" alt="">
                <img src="{% static 'user/imgs/banner/sp1.jpg' %}" alt="">
                <div class="banner-text ">
                    <h4 class="mb-1 mt-40 text-brand">Repair Services</h4>
                    <h1 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h1>
                    <a href="shop-grid-right.html" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- offer card -->
    <section class="banners mb-15" style="margin-top: 29px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow fadeIn animated">
                        <img src="{% static 'user/imgs/banner/mob 4.jpg' %}" alt="">

                        <div class="banner-text">
                            <span>Smart Offer</span>
                            <h4>Save 20% on <br>Woman Bag</h4>
                            <!-- <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow fadeIn animated">
                        <img src="{% static 'user/imgs/banner/mob 4.jpg' %}" alt="">

                        <div class="banner-text">
                            <span>Sale off</span>
                            <h4>Great Summer <br>Collection</h4>
                            <!-- <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-md-none d-lg-flex">
                    <div class="banner-img wow fadeIn animated  mb-sm-0">
                        <img src="{% static 'user/imgs/banner/mob 4.jpg' %}" alt="">
                        <div class="banner-text">
                            <span>New Arrivals</span>
                            <h4>Shop Today’s <br>Deals & Offers</h4>
                            <!-- <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- featured brand -->
    <section class="section-padding">
        <div class="container">
            <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
            <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows">
                </div>
                <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                    <div class="brand-logo">
                        <img class="" src="{% static 'user/imgs/banner/apple.jpg' %}" alt="">

                    </div>
                    <div class="brand-logo">
                        <img class="" src="{% static 'user/imgs/banner/nok.jpg' %}" alt="">

                    </div>
                    <div class="brand-logo">
                        <img class="" src="{% static 'user/imgs/banner/oppo.jpg' %}" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="" src="{% static 'user/imgs/banner/one.jpg' %}" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="" src="{% static 'user/imgs/banner/sam.jpg' %}" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="" src="{% static 'user/imgs/banner/honor.jpg' %}" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="" src="{% static 'user/imgs/banner/nok.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- new arrivals -->
    <section class="section-padding">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows">
                </div>
                <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html">
                                    <img class="default-img" src="{% static 'user/imgs/shop/mob 2.jpg' %}" alt="">

                                    <img class="hover-img" src="{% static 'user/imgs/shop/mob 2.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                    data-bs-target="#quickViewModal">
                                    <i class="fi-rs-eye"></i></a>
                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                    href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                    tabindex="0"><i class="fi-rs-shuffle"></i></a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <span class="hot">Hot</span>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="shop-product-right.html">Lorem ipsum dolor</a></h2>

                            <div class="product-price">
                                <span>₹ 238.85 </span>
                                <span class="old-price">₹ 245.8</span>
                            </div>
                        </div>
                    </div>
                    <!--End product-cart-wrap-2-->
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html">
                                    <img class="default-img" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                                    <img class="hover-img" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                    data-bs-target="#quickViewModal">
                                    <i class="fi-rs-eye"></i></a>
                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                    href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                    tabindex="0"><i class="fi-rs-shuffle"></i></a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <span class="new">New</span>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="shop-product-right.html">Aliquam posuere</a></h2>

                            <div class="product-price">
                                <span>₹ 173.85 </span>
                                <span class="old-price">₹ 185.8</span>
                            </div>
                        </div>
                    </div>
                    <!--End product-cart-wrap-2-->
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html">
                                    <img class="default-img" src="{% static 'user/imgs/shop/mob3.jpg' %}" alt="">
                                    <img class="hover-img" src="{% static 'user/imgs/shop/mob3.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                    data-bs-target="#quickViewModal">
                                    <i class="fi-rs-eye"></i></a>
                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                    href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                    tabindex="0"><i class="fi-rs-shuffle"></i></a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <span class="sale">Sale</span>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="shop-product-right.html">Sed dapibus orci</a></h2>

                            <div class="product-price">
                                <span>₹ 215.85 </span>
                                <span class="old-price">₹ 235.8</span>
                            </div>
                        </div>
                    </div>
                    <!--End product-cart-wrap-2-->
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html">
                                    <img class="default-img" src="{% static 'user/imgs/shop/mob3.jpg' %}" alt="">
                                    <img class="hover-img" src="{% static 'user/imgs/shop/mob3.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                    data-bs-target="#quickViewModal">
                                    <i class="fi-rs-eye"></i></a>
                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                    href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                    tabindex="0"><i class="fi-rs-shuffle"></i></a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <span class="hot">.33%</span>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="shop-product-right.html">Donec congue</a></h2>

                            <div class="product-price">
                                <span>₹ 83.8 </span>
                                <span class="old-price">₹ 125.2</span>
                            </div>
                        </div>
                    </div>
                    <!--End product-cart-wrap-2-->
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html">
                                    <img class="default-img" src="{% static 'user/imgs/shop/mob 2.jpg' %}" alt="">
                                    <img class="hover-img" src="{% static 'user/imgs/shop/mob 2.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                    data-bs-target="#quickViewModal">
                                    <i class="fi-rs-eye"></i></a>
                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                    href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                    tabindex="0"><i class="fi-rs-shuffle"></i></a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <span class="hot">-25%</span>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="shop-product-right.html">Curabitur porta</a></h2>

                            <div class="product-price">
                                <span>₹ 1238.85 </span>
                                <span class="old-price">₹ 1245.8</span>
                            </div>
                        </div>
                    </div>
                    <!--End product-cart-wrap-2-->
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html">
                                    <img class="default-img" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                                    <img class="hover-img" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                    data-bs-target="#quickViewModal">
                                    <i class="fi-rs-eye"></i></a>
                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                    href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                    tabindex="0"><i class="fi-rs-shuffle"></i></a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <span class="new">New</span>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="shop-product-right.html">Praesent maximus</a></h2>

                            <div class="product-price">
                                <span>₹ 123 </span>
                                <span class="old-price">₹ 156</span>
                            </div>
                        </div>
                    </div>
                    <!--End product-cart-wrap-2-->
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html">
                                    <img class="default-img" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                                    <img class="hover-img" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                    data-bs-target="#quickViewModal">
                                    <i class="fi-rs-eye"></i></a>
                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                    href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                    tabindex="0"><i class="fi-rs-shuffle"></i></a>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="shop-product-right.html">Vestibulum ante</a></h2>

                            <div class="product-price">
                                <span>₹ 238.85 </span>
                                <span class="old-price">₹ 245.8</span>
                            </div>
                        </div>
                    </div>
                    <!--End product-cart-wrap-2-->
                </div>
            </div>
        </div>
    </section>



    <!-- blogs -->
    <!-- <section class="section-padding">
        <div class="container pt-25 pb-20">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="section-title mb-20"><span>From</span> blog</h3>
                    <div class="post-list mb-4 mb-lg-0">
                        <article class="wow fadeIn animated">
                            <div class="d-md-flex d-block">
                                <div class="post-thumb d-flex mr-15">
                                    <a class="color-white" href="blog-post-fullwidth.html">
                                        <img src="assets/imgs/blog/mob 11.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="entry-meta mb-10 mt-10">
                                        <a class="entry-meta meta-2" href="blog-category-fullwidth.html"><span
                                                class="post-in font-x-small">Fashion</span></a>
                                    </div>
                                    <h4 class="post-title mb-25 text-limit-2-row">
                                        <a href="blog-post-fullwidth.html">Qualcomm is developing a Nintendo
                                            Switch-like console, report says</a>
                                    </h4>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">14 April 2022</span>
                                            <span class="hit-count has-dot">12M Views</span>
                                        </div>
                                        <a href="blog-post-right.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="wow fadeIn animated">
                            <div class="d-md-flex d-block">
                                <div class="post-thumb d-flex mr-15">
                                    <a class="color-white" href="blog-post-fullwidth.html">
                                        <img src="assets/imgs/blog/mob 12.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="entry-meta mb-10 mt-10">
                                        <a class="entry-meta meta-2" href="blog-category-fullwidth.html"><span
                                                class="post-in font-x-small">Healthy</span></a>
                                    </div>
                                    <h4 class="post-title mb-25 text-limit-2-row">
                                        <a href="blog-post-fullwidth.html">Not even the coronavirus can derail 5G's
                                            global momentum</a>
                                    </h4>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">14 April 2022</span>
                                            <span class="hit-count has-dot">12M Views</span>
                                        </div>
                                        <a href="blog-post-right.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="banner-img banner-1 wow fadeIn animated">
                                <img src="assets/imgs/blog/mob15.jpg" alt="">
                                <div class="banner-text">
                                    <span>Accessories</span>
                                    <h4>Save 17% on <br>Autumn Hat</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner-img mb-15 wow fadeIn animated">
                                <img src="assets/imgs/blog/mob13.jpg" alt="">
                                <div class="banner-text">
                                    <span>Big Offer</span>
                                    <h4>Save 20% on <br>Women's socks</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="banner-img banner-2 wow fadeIn animated">
                                <img src="assets/imgs/blog/mob13.jpg" alt="">
                                <div class="banner-text">
                                    <span>Smart Offer</span>
                                    <h4>Save 20% on <br>Eardrop</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <!-- test contet -->
    <section id="testimonials" class="section-padding">
        <div class="container pt-25">
            <div class="row mb-50">
                <div class="col-lg-12 col-md-12 text-center">
                    <h6 class="mt-0 mb-10 text-uppercase  text-brand font-sm wow fadeIn animated animated"
                        style="visibility: visible;">some facts</h6>
                    <h2 class="mb-15 text-grey-1 wow fadeIn animated animated" style="visibility: visible;">Take a
                        look what<br> our clients say about us</h2>
                    <p class="w-50 m-auto text-grey-3 wow fadeIn animated animated" style="visibility: visible;">At
                        vero eos et accusamus et iusto odio dignissimos ducimus quiblanditiis praesentium. ebitis
                        nesciunt voluptatum dicta reprehenderit accusamus</p>
                </div>
            </div>
            <div class="row align-items-center">

                <div class="col-md-6 col-lg-4">
                    <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex animated"
                        style="visibility: visible;">
                        <div class="hero-card-icon icon-left-2 hover-up ">
                            <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted"
                                src="assets/imgs/page/avatar-4.jpg" alt="">
                        </div>
                        <div class="pl-30">
                            <h5 class="mb-5 fw-500">
                                J. Bezos
                            </h5>
                            <p class="font-sm text-grey-5">Adobe Jsc</p>
                            <p class="text-grey-3">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                nesciunt voluptatum dicta reprehenderit accusamus voluptatibus voluptas."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex animated"
                        style="visibility: visible;">
                        <div class="hero-card-icon icon-left-2 hover-up ">
                            <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted"
                                src="assets/imgs/page/avatar-5.jpg" alt="">
                        </div>
                        <div class="pl-30">
                            <h5 class="mb-5 fw-500">
                                B.Gates
                            </h5>
                            <p class="font-sm text-grey-5">Adobe Jsc</p>
                            <p class="text-grey-3">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                nesciunt voluptatum dicta reprehenderit accusamus voluptatibus voluptas."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex animated"
                        style="visibility: visible;">
                        <div class="hero-card-icon icon-left-2 hover-up ">
                            <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted"
                                src="assets/imgs/page/avatar-1.jpg" alt="">
                        </div>
                        <div class="pl-30">
                            <h5 class="mb-5 fw-500">
                                B. Meyers
                            </h5>
                            <p class="font-sm text-grey-5">Adobe Jsc</p>
                            <p class="text-grey-3">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                                nesciunt voluptatum dicta reprehenderit accusamus voluptatibus voluptas."</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- test content end -->
    <!-- <section class="mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-bg wow fadeIn animated" style="background-image: url('assets/imgs/banner/banner-8.jpg')">
                        <div class="banner-content">
                            <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                            <h2 class="fw-600">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="mb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                    <div class="banner-img wow fadeIn animated mb-md-4 mb-lg-0">
                        <img src="assets/imgs/banner/banner-10.jpg" alt="">
                        <div class="banner-text">
                            <span>Shoes Zone</span>
                            <h4>Save 17% on <br>All Items</h4>
                            <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                    <h4 class="section-title style-1 mb-30 wow fadeIn animated">Deals & Outlet</h4>
                    <div class="product-list-small wow fadeIn animated">
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="assets/imgs/shop/thumbnail-3.jpg" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Fish Print Patched T-shirt</a>
                                </h4>
                                <div class="product-price">
                                    <span>₹ 238.85 </span>
                                    <span class="old-price">₹ 245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="assets/imgs/shop/thumbnail-4.jpg" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Vintage Floral Print Dress</a>
                                </h4>
                                <div class="product-price">
                                    <span>₹ 238.85 </span>
                                    <span class="old-price">₹ 245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="assets/imgs/shop/thumbnail-5.jpg" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Multi-color Stripe Circle Print T-Shirt</a>
                                </h4>
                                <div class="product-price">
                                    <span>₹ 238.85 </span>
                                    <span class="old-price">₹ 245.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                    <h4 class="section-title style-1 mb-30 wow fadeIn animated">Top Selling</h4>
                    <div class="product-list-small wow fadeIn animated">
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="assets/imgs/shop/thumbnail-6.jpg" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Geometric Printed Long Sleeve Blosue</a>
                                </h4>
                                <div class="product-price">
                                    <span>₹ 238.85 </span>
                                    <span class="old-price">₹ 245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="assets/imgs/shop/thumbnail-7.jpg" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Print Patchwork Maxi Dress</a>
                                </h4>
                                <div class="product-price">
                                    <span>₹ 238.85 </span>
                                    <span class="old-price">₹ 245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="assets/imgs/shop/thumbnail-8.jpg" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Daisy Floral Print Straps Jumpsuit</a>
                                </h4>
                                <div class="product-price">
                                    <span>₹ 238.85 </span>
                                    <span class="old-price">₹ 245.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="section-title style-1 mb-30 wow fadeIn animated">Hot Releases</h4>
                    <div class="product-list-small wow fadeIn animated">
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="assets/imgs/shop/thumbnail-9.jpg" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Floral Print Casual Cotton Dress</a>
                                </h4>
                                <div class="product-price">
                                    <span>₹ 238.85 </span>
                                    <span class="old-price">₹ 245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="assets/imgs/shop/thumbnail-1.jpg" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Ruffled Solid Long Sleeve Blouse</a>
                                </h4>
                                <div class="product-price">
                                    <span>₹ 238.85 </span>
                                    <span class="old-price">₹ 245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="assets/imgs/shop/thumbnail-2.jpg" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Multi-color Print V-neck T-Shirt</a>
                                </h4>
                                <div class="product-price">
                                    <span>₹ 238.85 </span>
                                    <span class="old-price">₹ 245.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section> -->



{% endblock %}