{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --unhover-border-color: rgba(0, 0, 0, 0.5);
  --unhover-text-color: rgba(255, 255, 255, 0.5);
  --unhover-background-color: rgba(0, 0, 0, 0.5);

  --hover-border-color: rgba(0, 0, 0, 0.8);
  --hover-text-color: rgba(255, 255, 255, 0.8);
  --hover-background-color: rgba(0, 0, 0, 0.8);

  --transition-delay: 0.5s;
}

.carousel {
  position: relative;
  width: 100vw;
  height: 32vh;
}

.slider-button {
  font-size: 1rem;
  padding: 5px 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  /* border: 2px solid var(--unhover-border-color); */
  color: var(--unhover-text-color);
  z-index: 10;
  cursor: pointer;
}

.slider-button-prev {
  left: 2rem;
}

.slider-button-next {
  right: 2rem;
}

.slider-button:hover,
.slider-button:focus {
  /* background-color: var(--hover-background-color);
  border: 2px solid var(--hover-border-color); */
  color: var(--hover-text-color);
}

ul.slides {
  list-style-type: none;
  height: 100%;
  width: 100%;
}

li.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--transition-delay);
  transition-delay: var(--transition-delay);
}

.slide > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

li.slide[data-active-slide] {
  opacity: 1;
}

.slides-circles {
  display: flex;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.slides-circles > div {
    height: 8px;
    width: 8px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 50%;
    transition: background-color var(--transition-delay);
    transition-delay: var(--transition-delay);
}

.slides-circles > div[data-active-slide] {
  background-color: white;
}

</style>

<section class="carousel d-lg-none ">
    <button class="slider-button slider-button-prev" data-slide-direction="prev">&#8592</button>
    <button class="slider-button slider-button-next" data-slide-direction="next">&#8594</button>
    <ul class="slides">
      <li class="slide" data-active-slide>
        <img src="{% static 'user/imgs/slider/bnrs3.jpg' %}" />
      </li>
      <li class="slide">
        <img src="{% static 'user/imgs/slider/bnrs2.jpg' %}" alt="Nature Image #2" />
      </li>
      <!-- <li class="slide">
        <img src="https://img.freepik.com/free-photo/beautiful-shot-grassy-hills-covered-trees-near-mountains-dolomites-italy_181624-24400.jpg?w=900&t=st=1670093563~exp=1670094163~hmac=53dd76fac233cfc81416be6e48979f21ca375c70470fba4b50eea93c9e27cee9" alt="Nature Image #3" />
      </li> -->
    </ul>
    <div class="slides-circles">
      <div data-active-slide></div>
      <div></div>
      <div></div>
    </div>
  </section>


<!-- <div class="container d-lg-none">
    <div class="slider-1-height-3 slider-animated-1">
       
        <div class="slider-img">
            <img class="mobile-img" src="{% static 'user/imgs/slider/bnrs3.jpg' %}" alt="">
        </div>
    </div>
</div> -->



<!-- modal location -->

<div class="modal fade custom-modal show px-2" id="onloadModal" tabindex="-1" aria-labelledby="onloadModalLabel" aria-modal="true" role="dialog" style="padding-right: 15px; display: block;">
    <div class="modal-dialog">
    <div class="modal-content">              
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>       
            <div class="modal-body">
                <div class="deal" style="background-image: url('assets/imgs/banner/menu-banner-7.png')">
                    <div class="deal-top text-center">
                        <h2 class="text-brand">Choose Your Location to sell Your Mobile Phone</h2>
                       
                    </div>
                    <div class="deal-content">
                        <form>
                            <div class="flwidth layout vertical search-onload text-center d-none d-md-block">

                                <a href="" class="flwidth">

                                    <label for="list-search-input" class="mr-auto layout horizontal center pad10 flwidth drill-search card-shadow radius-10">
                                        <span id="search-icon" class="search-icon layout center-center">
                                            <img alt="product_search" class="" src="/static/user/imgs/ProductSearch.svg">
                                        </span>
                                        <input type="text" class="form-control bg-white font-small" placeholder="search something..">
                                    </label>

                                </a>

                            </div>
                        </form>
                    </div>
                    <div class="deal-bottom">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-xs-4  col-lg-2">
                                 <div class="text-center">
                                <img src="{% static 'user/imgs/franchise/kochi.png' %}" alt="">
                               
                                    <h4 class="bg-1 servicetext">Calicut</h4>
                                </div>
                                
                            </div>
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/bang.png' %}" alt="">
                                   
                                        <h4 class="bg-1 servicetext">Banglore</h4>
                                    </div>
                            </div>
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/kochi.png' %}" alt="">
                                   
                                        <h4 class="bg-1 servicetext">Calicut</h4>
                                    </div>
                            </div>
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/bang.png' %}" alt="">
                                   
                                        <h4 class="bg-1 servicetext">Banglore</h4>
                                    </div>
                            </div>
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/kochi.png' %}" alt="">
                                   
                                        <h4 class="bg-1 servicetext">Calicut</h4>
                                    </div>
                            </div>
                            <div class="col-4 col-sm-4 col-xs-4 col-lg-2">
                                <div class="text-center">
                                    <img src="{% static 'user/imgs/franchise/bang.png' %}" alt="">
                                   
                                        <h4 class="bg-1 servicetext">Banglore</h4>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
    </div>
    </div>
</div>



<section class="home-slider position-relative view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="position-relative">
                    <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                       
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="slider-1-height-3 slider-animated-1">
                                    <!-- <div class="hero-slider-content-2">
                                        <h4 class="animated">Trade-In Offer</h4>
                                        <h3 class="animated fw-900">Supper Value Deals</h3>
                                        <h4 class="animated fw-900 text-brand">On All Products</h4>
                                        
                                        <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html">
                                            Shop Now </a>
                                    </div> -->
                                    <div class="slider-img">
                                        <a href="">
                                            <img src="{% static 'user/imgs/slider/bnrs1.jpg' %}" alt="">
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="slider-1-height-3 slider-animated-1">
                                    <!-- <div class="hero-slider-content-2">
                                        <h4 class="animated">Tech Promotions</h4>
                                        <h3 class="animated fw-900">Tech Trending</h3>
                                        <h4 class="animated fw-900 text-brand">Great Collection</h4>
                                        
                                        <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html">
                                            Sell phone </a>
                                    </div> -->
                                    <div class="slider-img">
                                        <img src="{% static 'user/imgs/slider/bnrs2.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                     {% comment %}
                        {% for slide in banner %}
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="slider-1-height-3 slider-animated-1">
                                    <!-- <div class="hero-slider-content-2">
                                        <h4 class="animated">Tech Promotions</h4>
                                        <h3 class="animated fw-900">Tech Trending</h3>
                                        <h4 class="animated fw-900 text-brand">Great Collection</h4>
                                        
                                        <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html">
                                            Sell phone </a>
                                    </div> -->
                                    <div class="slider-img">
                                        <img src="{{ slide.banner.url }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        {% endcomment %}


                    </div>
                    <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- grid section -->



<section class="featured section-padding position-relative grid-style" >
    <div class="container">

        <div class="row">
            <div class="col-sm-3 col-4 col-xs-3 col-md-3  col-lg-2 service-category" >
                <a href="{% url 'user:sell' %}">
                <div class="banner-features wow fadeIn animated hover-up " style="height: 128px" >
                    <img style="margin-top: 14px" src="{% static 'user/imgs/theme/icons/Sell Phone-3.png' %}" alt="" class="service-icon">

                   
                        <h4 class="bg-1 servicetext">Sell Phone</h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category " >
                <a href="{% url 'user:buyphone' %}">
                <div class="banner-features wow fadeIn animated hover-up " style="height: 128px">
                    <img style="margin-top: 14px" src="{% static 'user/imgs/theme/icons/Buy Phone-4.png' %}" alt="" class="service-icon">
                    <h4 class="bg-2 servicetext">Buy phone</h4>
                </a>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category " >
                <a href="{% url 'user:repair_phone' %}">
                <div class="banner-features wow fadeIn animated hover-up " style="height: 128px">
                    <img style="margin-top: 14px" src="{% static 'user/imgs/theme/icons/Repair Phone-3.png' %}" alt="" class="service-icon">
                    <h4 class="bg-2 servicetext">Repair Phone</h4>
                </a>
                </div>
            </div>

            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category " >
                <div class="banner-features wow fadeIn animated hover-up " style="height: 128px">
                    <img style="margin-top: 14px" src="{% static 'user/imgs/theme/icons/Sell imac-3.png' %}" alt="" class="service-icon">
                    <h4 class="bg-1 servicetext">Sell imac</h4>
                </div>
            </div>
            <div class=" col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category  " >
                <div class="banner-features wow fadeIn animated hover-up " style="height: 128px" >
                    <img style="margin-top: 14px" src="{% static 'user/imgs/theme/icons/Sell Laptop-3.png' %}" alt="" class="service-icon">

                    <a href="sell">
                        <h4 class="bg-1 servicetext">Sell Laptop</h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category " >
                <div class="banner-features wow fadeIn animated hover-up " style="height: 128px">
                    <img style="margin-top: 14px" src="{% static 'user/imgs/theme/icons/Sell Camera-3.png' %}" alt="" class="service-icon">
                    <h4 class="bg-2 servicetext">Sell Camera</h4>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category last-grid" >
                <div class="banner-features wow fadeIn animated hover-up " style="height: 128px">
                    <img style="margin-top: 14px" src="{% static 'user/imgs/theme/icons/Sell Tablet-3.png' %}" alt="" class="service-icon">
                    <h4 class="bg-2 servicetext">Sell Tablet</h4>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category last-grid" >
                <div class="banner-features wow fadeIn animated hover-up " style="height: 128px">
                    <img style="margin-top: 14px" src="{% static 'user/imgs/theme/icons/Sell SmartWatch-3.png' %}" alt="" class="service-icon">
                    <h4 class="bg-1 servicetext">Sell Smart Watch</h4>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category  last-grid" >
                <div class="banner-features wow fadeIn animated hover-up " style="height: 128px" >
                    <img style="margin-top: 14px" src="{% static 'user/imgs/theme/icons/Sell Earbuds-4.png' %}" alt="" class="service-icon">

                    <a href="sell">
                        <h4 class="bg-1 servicetext">Sell Earbuds</h4>
                    </a>
                </div>
            </div>
            <!-- <div class="col-sm-3 col-4 col-xs-3 col-md-3 col-lg-2 service-category " >
                <div class="banner-features wow fadeIn animated hover-up " style="height: 128px">
                    <img style="margin-top: 14px" src="{% static 'user/imgs/theme/icons/buy-mob.png' %}" alt="" class="service-icon">
                    <h4 class="bg-2 servicetext">Buy phone</h4>
                </div>
            </div> -->
          
            </div>
            
        </div>
    </div>
</section>

{% comment %}
<!-- ------------------------- -->
<section class="featured section-padding">
    <div class="container">
        <div class="row">
            <h3 class="section-title mb-20">How<span>Flypik</span> Works</h3>
            <div class="col-lg-2 col-md-4 col-4  mb-md-3 mb-lg-0">
                <div class="wow fadeIn animated hover-up animated works">
                    <img src="{% static 'user/imgs/theme/icons/feature-2.png' %}" alt="">
                    <h4 class="bg-3">Online order</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4  mb-md-3 mb-lg-0">
                <div class="works wow fadeIn animated hover-up animated">
                    <img src="{% static 'user/imgs/theme/icons/feature-5.png' %}" alt="">
                    <h4 class="bg-5">Happy Sell</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4  mb-md-3 mb-lg-0">
                <div class="works wow fadeIn animated hover-up animated">
                    <img src="{% static 'user/imgs/theme/icons/feature-1.png' %}" alt="">
                    <h4 class="bg-1">Sheduled Pickup</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4  mb-md-3 mb-lg-0">
                <div class="works wow fadeIn animated hover-up animated">
                    <img src="{% static 'user/imgs/theme/icons/feature-3.png' %}" alt="">
                    <h4 class="bg-2">Best money value</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4  mb-md-3 mb-lg-0">
                <div class="works wow fadeIn animated hover-up animated">
                    <img src="{% static 'user/imgs/theme/icons/feature-4.png' %}" alt="">
                    <h4 class="bg-4">Fast money</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4  mb-md-3 mb-lg-0">
                <div class="works wow fadeIn animated hover-up animated">
                    <img src="{% static 'user/imgs/theme/icons/feature-6.png' %}" alt="">
                    <h4 class="bg-6">24/7 Support</h4>
                </div>
            </div>
        </div>
    </div>
</section>
{% endcomment %}

<!-- repair service section -->
{% comment %}
<section class="banner-2 section-padding repair-section pb-0  repair-style">
    <div class="container">
        <div class="banner-img banner-big wow fadeIn animated f-none">
            <a href="">
                <img class="offer-img" src="{% static 'user/imgs/banner/b5.jpg' %}" alt="">
            </a>
            <!-- <div class="banner-text ">
                <h4 class="mb-1 mt-40 text-brand">Repair Services</h4>
                <h4 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h4>
                <a href="#" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
            </div> -->
        </div>
    </div>
</section>
{% endcomment %}


<!-- exchange card -->
<section class="banners mb-15 exchange-card">
    <div class="container">
        <div class="row">
            {% comment %}
            {% for offers in offer %}
            <div class="col-lg-4 col-md-6">
                <div class="banner-img wow fadeIn animated">
                    <a href="">
                        <img class="offer2" src="{{offers.offer.url }}" alt="">
                    </a>
                </div>
            </div>
            {% endfor %}
            {% endcomment %}
            <div class="col-lg-4 col-md-6">
                <div class="banner-img wow fadeIn animated">
                    <a href="">
                        <img class="offer2" src="{% static 'user/imgs/banner/bnre2.jpg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 d-md-none d-lg-flex">
                <div class="banner-img wow fadeIn animated  mb-sm-0">
                    <a href="">
                        <img class="offer2" src="{% static 'user/imgs/banner/bnre3.jpg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 d-md-none d-lg-flex">
                <div class="banner-img wow fadeIn animated  mb-sm-0">
                    <a href="">
                        <img class="offer2" src="{% static 'user/imgs/banner/bnre1.jpg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- featured brand -->
<section class="popular-categories section-padding section-new-padding">
    <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>Select</span> your phone brand</h3> 
        
        <div class="carausel-6-columns-cover position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
            <div class="carausel-6-columns" id="carausel-6-columns">
                {% for brands in brand %}
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="{% url 'user:shops' brands.id %}">
                            <img src="{{brands.image.url}}" alt="">
                        </a>
                    </figure>
                    <!-- <h5><a href="#">T-Shirt</a></h5> -->
                </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
</section>



<!-- Most selling Model-->
<section class="section-padding section-new-padding">
    <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>Most</span> Selling model </h3>
        <div class="carausel-6-columns-cover position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows">
            </div>
            <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="#">
                                <img class="default-img selling-phone" src="{% static 'user/imgs/shop/mob 2.jpg' %}" alt="">

                                <img class="hover-img" src="{% static 'user/imgs/shop/mob 2.jpg' %}" alt="">
                            </a>
                        </div>
                        
                       
                    </div>
                    <div class="product-content-wrap">
                        <h6 class="product-name-responsive"><a href="#">One plus note c2</a></h6>

                        <!-- <div class="product-price">
                            <span>₹ 238.85 </span>
                            <span class="old-price">₹ 245.8</span>
                        </div> -->
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="#">
                                <img class="default-img selling-phone" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                                <img class="hover-img" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                            </a>
                        </div>
                        
                       
                    </div>
                    <div class="product-content-wrap">
                        <h6 class="product-name-responsive"><a href="#">One plus note c2</a></h6>

                        <!-- <div class="product-price">
                            <span>₹ 173.85 </span>
                            <span class="old-price">₹ 185.8</span>
                        </div> -->
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="#">
                                <img class="default-img selling-phone" src="{% static 'user/imgs/shop/mob3.jpg' %}" alt="">
                                <img class="hover-img" src="{% static 'user/imgs/shop/mob3.jpg' %}" alt="">
                            </a>
                        </div>
                        
                    
                    </div>
                    <div class="product-content-wrap">
                        <h6 class="product-name-responsive"><a href="#">One plus note c2</a></h6>

                        <!-- <div class="product-price">
                            <span>₹ 215.85 </span>
                            <span class="old-price">₹ 235.8</span>
                        </div> -->
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="#">
                                <img class="default-img selling-phone" src="{% static 'user/imgs/shop/mob3.jpg' %}" alt="">
                                <img class="hover-img" src="{% static 'user/imgs/shop/mob3.jpg' %}" alt="">
                            </a>
                        </div>
                        
                   
                    </div>
                    <div class="product-content-wrap">
                        <h6 class="product-name-responsive"><a href="#">One plus note c2</a></h6>

                        <!-- <div class="product-price">
                            <span>₹ 83.8 </span>
                            <span class="old-price">₹ 125.2</span>
                        </div> -->
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="#">
                                <img class="default-img selling-phone" src="{% static 'user/imgs/shop/mob 2.jpg' %}" alt="">
                                <img class="hover-img" src="{% static 'user/imgs/shop/mob 2.jpg' %}" alt="">
                            </a>
                        </div>
                        
            
                    </div>
                    <div class="product-content-wrap">
                        <h6 class="product-name-responsive"><a href="#">One plus note c2</a></h6>

                        <!-- <div class="product-price">
                            <span>₹ 1238.85 </span>
                            <span class="old-price">₹ 1245.8</span>
                        </div> -->
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="#">
                                <img class="default-img selling-phone" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                                <img class="hover-img" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                            </a>
                        </div>
                        
                       
                    </div>
                    <div class="product-content-wrap">
                        <h6 class="product-name-responsive"><a href="#">One plus note c2</a></h6>

                        <!-- <div class="product-price">
                            <span>₹ 123 </span>
                            <span class="old-price">₹ 156</span>
                        </div> -->
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="#">
                                <img class="default-img selling-phone" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                                <img class="hover-img" src="{% static 'user/imgs/shop/mob.jpg' %}" alt="">
                            </a>
                        </div>
                        
                    </div>
                    <div class="product-content-wrap">
                        <h6 class="product-name-responsive"><a href="#">One plus note c2</a></h6>

                        <!-- <div class="product-price">
                            <span>₹ 238.85 </span>
                            <span class="old-price">₹ 245.8</span>
                        </div> -->
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
            </div>
        </div>
    </div>
</section>


<section class="section-padding section-new-padding">

    <div class="featured">
        <div class="container">
            <div class="row">
                <h3 class="section-title mb-20">Why <span>sell</span> on Flypik </h3>


            </div>
        </div>
    </div>
    <div class="container">

        <div class=" row ">
            <div class="card col-lg-4 whysell  mt-1 mx-auto" style="border: none;">
                <img class="card-img-top" style="width: 35%; margin-left: 33%;"
                    src="{% static 'user/imgs/icon/SAFE.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="text-center">Safe & Secure</h4>
                    <p class="card-text text-justify  secure">Select your device & we’ll help you unlock the best selling price based on the present conditions of your gadget & the current market price.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
       
            <div class="card col-lg-4 whysell  mt-1 mx-auto" style="border: none;">

                <img class="card-img-top" style="width: 35%; margin-left: 33%;"
                    src="{% static 'user/imgs/icon/INSTANT.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="text-center ">Instant payment</h4>
                    <p class="card-text text-justify secure">On accepting the price offered for your device, we’ll arrange a
                        free pick up.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>


            <div class="card col-lg-4 whysell  mt-1 mx-auto" style="border: none;">

                <img class="card-img-top" style="width: 35%; margin-left: 33%;"
                    src="{% static 'user/imgs/icon/BEST.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="text-center">Best price</h4>
                    <p class="card-text text-justify secure">Instant Cash will be handed over to you at time of pickup or
                        through payment mode of your choice.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
   

    </div>
       

</section>

    <!-- WHY US -->
    <section class="banners mb-20 wusbanner section-new-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-title mb-20 col-sm-12 col-12"><span>Why</span> Us</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-6 why-us ">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/best-price.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4 class="whyusfont">Best Prices</h4>
                                    <span class="fonts">Objective AI-based pricing</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6 why-us">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/instant-pay.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4 class="whyusfont">Instant Payment</h4>
                                    <span class="fonts"> Instant Money Transfer in your preferred mode at </span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6 why-us">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/Simple-&-Convenient.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4 class="whyusfont" style="">Simple & Convenient </h4>
                                    <span class="fonts"> Check price, schedule pickup & get paid</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-6 why-us">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/door-1.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4 class="whyusfont">
                                        Free Doorstep Pickup
                                    </h4>
                                    <span class="fonts">No fees for pickup across 1500 cities across India</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6 why-us">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/data.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4 class="whyusfont">Factory Grade Data Wipe</h4>
                                    <span class="fonts">100% Safe and Data Security Guaranteed</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6 why-us">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/invoice.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4 class="whyusfont">Valid Purchase Invoice </h4>
                                    <span class="fonts">Genuine Bill of Sale</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- FAQ -->

<section>
    <div class="container p-3">
        <div class="row">
    <div class="accordion col-sm-12 col-12" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <h3 class="section-title mb-20 "><span>FAQ</span>s</h3>
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <strong> How to delete your Flypik account in ios?</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p class="product-name">
                    To delete your account please go through the following steps –

                    Open the Flypik App and tap on the profile icon at the bottom right
                    Select “My Account” then tap on “Delete My Account”
                    Confirm the “Deletion Request” through OTP sent on your registered mobile number
                    Account will be deleted successfully within 15 days
                    In case of any pending order(s), please cancel them first to proceed.

                </p>
               
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             <strong>Will you accept dead phones too?</strong>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="product-name">Yes,  we take broken and dead mobiles if you are selling mobile phone on Flypik. However, it might affect the overall quote of the phone.</p> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>should i delete all the data before selling my phone?</strong>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="product-name">We recommend you delete all the personal data and also remove the SIM and memory card form your phone. But, just in case you haven’t, then it’s not a problem at all. Because before going ahead with any further procedure, we ensure that our technical expert has wiped out all the available data from the device..</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>


<br><br>

<script>
    const buttons = document.querySelectorAll("[data-slide-direction]");

buttons.forEach((button) => {
  button.addEventListener("click", () => {
    const offset = button.dataset.slideDirection === "next" ? 1 : -1;
    changeSlide(offset);
  });
});

const changeSlide = (offset) => {
  const slides = document.querySelector(".slides");
  const activeSlide = slides.querySelector("[data-active-slide]");
  let newIndex = [...slides.children].indexOf(activeSlide) + offset;
  newIndex =
    newIndex < 0
      ? slides.children.length - 1
      : newIndex === slides.children.length
      ? 0
      : newIndex;
  slides.children[newIndex].dataset.activeSlide = true;
  delete activeSlide.dataset.activeSlide;

  const circles = document.querySelector(".slides-circles");
  const activeCircle = circles.querySelector("[data-active-slide]");
  circles.children[newIndex].dataset.activeSlide = true;
  delete activeCircle.dataset.activeSlide;
};

setInterval(changeSlide.bind(null, 1), 10000);

</script>

{% endblock %}