{% extends 'user/partials/base.html' %}
{% load static crispy_forms_tags %}
{% block content %}
<style>
    .signup {
        background-color: #620d9314;
        height: 319px;
    }

</style>

<main>

    <section class="pt-100 pb-100">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="card p-5">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3 class="mb-30">Login</h3>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {{form|crispy}}

                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">
                                        Log in
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>
</main>

{% endblock %}


{% block js %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.3/imask.min.js'></script>
<script>
    var phoneMask = IMask(document.getElementById('id_phone_number'), { mask: '0000000000' });
</script>
{% endblock %}
