{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}
<style>
    .signup {
        background-color: #620d9314;
        height: 319px;
    }

</style>

<main>

    <section class="pt-100 pb-100">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="card p-5">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3 class="mb-30">Login</h3>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control square input" required="" name="number"
                                        placeholder="phone number">
                                </div>
                                <div class="form-group">
                                    <input required="" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="login_footer form-group">
                                    <a class="text-muted" href="{% url 'user:forgot' %}">Forgot password?</a>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">
                                        Log in
                                    </button>
                                </div>
                            </form>
                            <div class="text-muted">Dont have an account?
                                <a href="{% url 'user:registration' %}">
                                    Create an account
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>
</main>

{% endblock %}
