{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'user/imgs/theme/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'user/css/main.css' %}?v=1.3">
    <link rel="stylesheet" href="{% static 'user/css/wizard.css' %}?v=1.3">

</head>

<body>

    <div class="layout horizontal wrap flwidth  jss349">
        <li class="layout horizontal center-center base-bg jss350"><a target="_self" rel="" title="Sell Old Phone"
                class="jss345 layout flheight vertical center-center center pad0 mar0" href="/sell-old-mobile-phone"><i
                    class="layout horizontal center-center jss347"><img alt="Sell Phone" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/sell_phone_deab8bbb0bb7.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    Phone</span></a></li>
        <li class="layout horizontal center-center base-bg jss350"><a target="_self" rel="" title="Sell Old Laptop"
                class="jss345 layout flheight vertical center-center center pad0 mar0" href="/sell-old-laptop"><i
                    class="layout horizontal center-center jss347"><img alt="Sell Laptop" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/sell_laptop_f907031d0445.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    Laptop</span></a></li>
        <li class="layout horizontal center-center base-bg jss350"><a target="_self" rel="" title="Sell Old Television"
                class="jss345 layout flheight vertical center-center center pad0 mar0" href="/sell-old-television"><i
                    class="layout horizontal center-center jss347"><img alt="Sell TV" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/sell-televisions_a39af2409e9d.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    TV</span></a></li>
        <li class="layout horizontal center-center base-bg jss350"><a target="_self" rel="" title="Sell Old Tablet"
                class="jss345 layout flheight vertical center-center center pad0 mar0" href="/sell-old-tablet"><i
                    class="layout horizontal center-center jss347"><img alt="Sell Tablet" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/sell_tablet_617881c0b0b1.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    Tablet</span></a></li>
        <li class="layout horizontal center-center base-bg jss350 mob-view"><a target="_self" rel=""
                title="Refurbished Phones" class="jss345 layout flheight vertical center-center center pad0 mar0"
                href="https://store.cashify.in/?utm_source=cashify&amp;utm_medium=referral&amp;utm_campaign=esp01_homepage_strip&amp;utm_term=esp01&amp;utm_content=homepage_strip">
                <div class="jss346">Buy</div><i class="layout horizontal center-center jss347"><img
                        alt="Refurbished Phones" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/iconn_b3d9ca75f99c.gif" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Refurbished
                    Phones</span>
            </a></li>
        <li class="layout horizontal center-center base-bg jss350"><a target="_self" rel="" title="Sell Earbuds"
                class="jss345 layout flheight vertical center-center center pad0 mar0" href="/sell-old-earbuds"><i
                    class="layout horizontal center-center jss347"><img alt="Sell Earbuds" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/buy-accessories_9703ea7f1ec0.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    Earbuds</span></a></li>
        <li class="layout horizontal center-center base-bg jss350"><a target="_self" rel="" title="Sell Smart Watch"
                class="jss345 layout flheight vertical center-center center pad0 mar0" href="/sell-old-smart-watch"><i
                    class="layout horizontal center-center jss347"><img alt="Sell Smart Watch" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/sell_smart_watch_7bd61d45986e.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    Smart Watch</span></a></li>
        <li class="layout horizontal center-center base-bg jss350"><a target="_self" rel="" title="Sell Smart Speaker"
                class="jss345 layout flheight vertical center-center center pad0 mar0" href="/sell-old-smart-speaker"><i
                    class="layout horizontal center-center jss347"><img alt="Sell Smart Speaker" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/sell_smart_speaker_8324ccde5dd9.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    Smart Speaker</span></a></li>
        <li class="layout horizontal center-center base-bg jss350"><a target="_self" rel="" title="Sell Old iMac"
                class="jss345 layout flheight vertical center-center center pad0 mar0" href="/sell-old-imac"><i
                    class="layout horizontal center-center jss347"><img alt="Sell iMac" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/sell_desktops_f4b0938ebce3.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    iMac</span></a></li>
        <li class="layout horizontal center-center base-bg jss350"><a target="_self" rel=""
                title="Sell Old Gaming Consoles" class="jss345 layout flheight vertical center-center center pad0 mar0"
                href="/sell-old-gaming-consoles"><i class="layout horizontal center-center jss347"><img
                        alt="Sell Gaming Consoles" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/sell_gaming_consoles_396669e225d0.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    Gaming Consoles</span></a></li>
        <li class="layout horizontal center-center base-bg jss350"><a target="_blank" rel="nofollow"
                title="Sell Old Car" class="jss345 layout flheight vertical center-center center pad0 mar0"
                href="https://www.spinny.com/sell-used-car/?utm_source=cashify&amp;utm_medium=partnerships&amp;utm_campaign=Sell_lead_generation&amp;utm_content=Buy_Sell_Upgrade"><i
                    class="layout horizontal center-center jss347"><img alt="Sell Car" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/sell_car_8ad42172f2c3.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    Car</span></a></li>
        <li class="layout horizontal center-center base-bg jss350"><a target="_self" rel="" title="Sell Old Camera"
                class="jss345 layout flheight vertical center-center center pad0 mar0" href="/sell-old-dslr-camera"><i
                    class="layout horizontal center-center jss347"><img alt="Sell DSLR Camera" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/sell_dslr_d1a1bdbcaa8b.png" height="78"
                        width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Sell
                    DSLR Camera</span></a></li>
        <li class="layout horizontal center-center base-bg jss350 mob-view"><a target="_self" rel=""
                title="Find New Phone" class="jss345 layout flheight vertical center-center center pad0 mar0"
                href="/find-new-phone"><i class="layout horizontal center-center jss347"><img alt="Find New Phone"
                        class="img-resp" src="https://s3n.cashify.in/imageLibrary/find_new_phone_627e4c8a5e20.png"
                        height="78" width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Find
                    New Phone</span></a></li>
        <li class="layout horizontal center-center base-bg jss350 mob-view"><a target="_self" rel=""
                title="Repair Phone" class="jss345 layout flheight vertical center-center center pad0 mar0"
                href="/repair"><i class="layout horizontal center-center jss347"><img alt="Repair Phone"
                        class="img-resp" src="https://s3n.cashify.in/imageLibrary/repair_phone_0d00b1226cb1.png"
                        height="78" width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Repair
                    Phone</span></a></li>
        <li class="layout horizontal center-center base-bg jss350 mob-view"><a target="_self" rel=""
                title="Visit Our Store" class="jss345 layout flheight vertical center-center center pad0 mar0"
                href="/offline-stores"><i class="layout horizontal center-center jss347"><img alt="Visit Our Store"
                        class="img-resp" src="https://s3n.cashify.in/imageLibrary/cashify_store_cbeb8550ec6c.png"
                        height="78" width="78"></i><span
                    class="MuiTypography-root text-center flwidth jss351 MuiTypography-caption MuiTypography-colorTextPrimary">Visit
                    Our Store</span></a></li>
        <li class="layout horizontal center-center mob-view jss350"><a
                class="jss345 layout vertical center-center flheight"><i
                    class="layout horizontal center-center jss347"><img alt="others" class="img-resp"
                        src="https://s3n.cashify.in/imageLibrary/more_dc7b89d070fa.png"></i>
                <div
                    class="MuiTypography-root text-center flwidth MuiTypography-caption MuiTypography-colorTextPrimary">
                    More</div>
            </a></li>
    </div>
    <!-- Vendor JS-->
    <script
        src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>

    <script src="{% static 'user/js/vendor/modernizr-3.6.0.min.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/vendor/jquery-3.6.0.min.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/vendor/jquery-migrate-3.3.0.min.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/vendor/bootstrap.bundle.min.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/slick.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/jquery.syotimer.min.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/wow.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/jquery-ui.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/perfect-scrollbar.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/magnific-popup.js"></script>
    <script src="{% static 'user/js/plugins/select2.min.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/waypoints.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/counterup.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/jquery.countdown.min.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/images-loaded.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/isotope.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/scrollup.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/jquery.vticker-min.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/jquery.theia.sticky.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/plugins/jquery.elevatezoom.js' %}?v=1.3"></script>
    <!-- Template  JS -->
    <script src="{% static 'user/js/main.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/shop.js' %}?v=1.3"></script>
    <script src="{% static 'user/js/wizard.js' %}?v=1.3"></script>
</body>

</html>
