{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    #wrapper {

        display: inline-block;
        padding: 20px;

    }
</style>

<!-- <section> -->

    <!-- <div id="wrapper">
        <label for="yes_no_radio">Do you agree to the terms?</label>
        <p>
            <input type="radio" name="yes_no" checked>Yes</input>
        </p>
        <p>
            <input type="radio" name="yes_no">No</input>
        </p>
    </div> -->


    <section class="frame-size ">
        <div class="row">
        <div  class="flwidth flheight   horizontal justified  col-lg-7 shadow card">
            <div id="calcDrawerLeft" class="jss133 mar-t20 radius-6 p-3">
                <div class="center-justified  vertical center start-justified-mob flheight">
                    <h2 class="font22-18 font-medium tc-primary mar-b20 text-center">Tell us a few things about your
                        device!</h2>
                    <!-- <div class=" horizontal center-center"><span
                            class="font14 text-center underline cursor font-medium mar-b20">See what this means?</span>
                    </div> -->
                    <div class="">

                        <div class="col-lg-12" role="radiogroup" aria-label="question">
                            <div id="wrapper">
                                <label for="yes_no_radio">1. Are you able to make and receive calls?</label><br>
                                <span class="font14-12 flwidth tc-secondary">Check your device for cellular network
                                    connectivity issues.</span>

                                <div style="padding:20px ;">
                                    <div class="form-check-inline result ">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"  name="optradio">YES
                                        </label>
                                    </div>
                                    <div class="form-check-inline result">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"  name="optradio">NO
                                        </label>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12" role="radiogroup" aria-label="question">
                            <div id="wrapper">
                                <label for="yes_no_radio">1. Are you able to make and receive calls?</label><br>
                                <span class="font14-12 flwidth tc-secondary">Check your device for cellular network
                                    connectivity issues.</span>

                                <div style="padding:20px ;">
                                    <div class="form-check-inline result">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"  name="optradio1">YES
                                        </label>
                                    </div>
                                    <div class="form-check-inline result">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"  name="optradio1">NO
                                        </label>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12" role="radiogroup" aria-label="question">
                            <div id="wrapper">
                                <label for="yes_no_radio">1. Are you able to make and receive calls?</label><br>
                                <span class="font14-12 flwidth tc-secondary">Check your device for cellular network
                                    connectivity issues.</span>

                                <div style="padding:20px ;">
                                    <div class="form-check-inline result">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"  name="optradio2">YES
                                        </label>
                                    </div>
                                    <div class="form-check-inline result">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"  name="optradio2">NO
                                        </label>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>

                        <div class="" role="radiogroup" aria-label="question">
                            <div id="wrapper">
                                <label for="yes_no_radio">1. Are you able to make and receive calls?</label><br>
                                <span class="font14-12 flwidth tc-secondary">Check your device for cellular network
                                    connectivity issues.</span>

                                <div style="padding:20px ;">
                                    <div class="form-check-inline result">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"  name="optradio3">YES
                                        </label>
                                    </div>
                                    <div class="form-check-inline result">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"  name="optradio3">NO
                                        </label>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>

                        <div class="" role="radiogroup" aria-label="question">
                            <div id="wrapper">
                                <label for="yes_no_radio">1. Are you able to make and receive calls?</label><br>
                                <span class="font14-12 flwidth tc-secondary">Check your device for cellular network
                                    connectivity issues.</span>

                                <div style="padding:20px ;">
                                    <div class="form-check-inline result">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"  name="optradio4">YES
                                        </label>
                                    </div>
                                    <div class="form-check-inline result">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"  name="optradio4">NO
                                        </label>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="mar-t20">
                        <div class="jss161"><button
                                class="MuiButtonBase-root MuiButton-root MuiButton-contained flwidth MuiButton-containedPrimary"
                                tabindex="0" type="button" style="min-height: 42px;"><span class="MuiButton-label"><span
                                        class="font-semi-bold font16-14"
                                        style="text-transform: none;">Continue</span><span
                                        class="MuiButton-endIcon MuiButton-iconSizeMedium">
                                        <div><i><img alt="" class="img-resp"
                                                    src="/static/common/svgs/arrow-right.svg"></i></div>
                                    </span></span><span class="MuiTouchRipple-root"></span></button></div>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="jss135 web-view mar-t20 card mx-2 shadow radius-6 col-lg-4 d-sm-none d-lg-block">
                <div class=" vertical flwidth">
                    <div class=" horizontal center pad16">
                        <div class=" horizontal center-center jss136"><img alt="cashify" class="img-resp"
                                src="https://s3n.cashify.in/cashify/product/img/xxhdpi/csh-6vukhanm-ci0i.png"></div>
                        <span class="font16-14 font-medium pad-l20">Apple iPhone 5s (1 GB/32 GB)</span>
                    </div>
                    <hr class="border-light mar-b20 flwidth">
                    <div class="pad-lr16">
                        <div class="font16 font-medium mar-t20 mar-b20">Device Evaluation</div>
                        <div class="mar-t20 jss137"></div>
                    </div>
                </div>
            </div>
      
    </div>
    </section>
<br><br>


<!-- </section> -->



{% endblock %}