{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}
<section class="pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-2"></div>

                    <div class="col-lg-8">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                            <div class="padding_eight_all bg-white">


                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="" id="otp">
                                        <div class="form-group">
                                            <input required="" type="password" name="otp" placeholder="Enter Your OTP">
                                        </div>
                                        <div class="form-group otp">
                                            <button type="submit" class="btn btn-sm text-white"
                                                name="OTP">Confirm</button>
                                            <a href="{% url 'user:resendotp' token %}"
                                                class="">Resent</a>
                                        </div>
                                    </div>
                                </form>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}