{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}

<style>
  .question-button {}

  .box {
    /* width: 200px; */
    border: 1px solid;
    border-color: rgba(112, 112, 112, 0.12);
    /* margin-right: 20px; */
    background-color: #FAFAFA;
    border-radius: 5px;
    /* padding: 3px; */
    margin: 20px 0px 3px 0px;
    height: 42px;
  }
</style>


<script>

  function UpdateCost() {
    var sum = 0;
    var gn, elem;
    var gn, elem;
    for (i = 0; i < 5; i++) {
      gn = 'game' + i;
      elem = document.getElementById(gn);
      if (elem.checked == true) { sum += Number(elem.value); }
    }
    document.getElementById('totalcost').value = sum.toFixed(2);
  }

</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-3">
      <div class="wizard card-like">
        <form action="#">
          <div class="wizard-header">
            <div class="row">
              <div class="col-xs-12">

                <h3 class="section-title mb-20">Tell us few things about your device</h3>

                <div class="pricebtn">

                  <div class="btn btn-outline" id="price" style="color: #5f009a;"></div>
                  <!-- <p>Total:<span id="price"></span></p> -->
                </div>
                <hr>
              </div>
            </div>
          </div>


          <div class="wizard-body">
            <div class="step initial active">
              {% for questions in questions %}
              <div class="row">
                <div class="col-sm-12">
                  <div class="slide">
                    <h5 class="questionhead">1. {{ questions.questions }} </h5>

                    <div class="row">
                      <div class="col-lg-4 col-sm-4">
                        <div class="form-check custom-checkbox  box mb-3 checkbox-info box ">
                          <div class="question-button pt-2 px-3 ">
                            <input data-price="-200" class="form-check-input" type="radio" id="match_1" name="match_1">
                            <label class="form-check-label" for="customCheckBox2">YES</label>
                          </div>


                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-4 clearfix">
                        <div class="form-check custom-checkbox box mb-3 checkbox-success box">
                          <div class="question-button pt-2 px-3">
                            <input name="match_1" data-price="-50" type="radio" class="form-check-input" id="match_1"
                              name="match_1">
                            <label class="form-check-label" for="customCheckBox2">NO</label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}







              <br>
            </div>

            <div class="step">
              <h4>Select screen/body defects that are applicable!</h4>
              <br>
              <div class="row">
                <div class="col-sm-2 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/qq1.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Broken/scratch on device screen</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->


                <div class="col-sm-2 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/qq2.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i> Dead spot/visible lines on screen</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->


                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/qq3.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i> Scratch/Dent on device body</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->


                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/qq4.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i> Device panel missing/broken</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->


              </div>
            </div>

            <div class="step">
              <h4>Front Camera not working</h4>
              <br>
              <div class="row">
                <div class="col-sm-3 col-lg-3  col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q11.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i> Dead spot/visible lines on screen</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q12.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Back Camera not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q13.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Volume Button not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q14.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Finger Touch not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q15.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>WiFi not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q16.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Battery Faulty</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q17.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Speaker Faulty</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q18.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Power Button not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q19.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i> Charging Port not working
                          </h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q20.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i> Face Sensor not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div>
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q21.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Silent Button not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/35.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Audio Receiver not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q22.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Camera Glass Broken</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q23.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Vibrator is not working </h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/2-2-2.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i> Bluetooth not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/38.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Microphone not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/3-3-3.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Proximity Sensor not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->

                <!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">

                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q29.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Audio Jack not working</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
              </div>
            </div>
            <div class="step">
              <h4>Do you have the following</h4>
              <br>
              <div class="row">
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/107.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Original Charger of Device</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <div class="col-sm-3 col-lg-3 col-6">
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/108.png' %}" alt="">
                        </div><!-- end of quiz_card_media -->

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i>Box with same IMEI</h3>
                        </div><!-- end of quiz_card_title -->
                      </div><!-- end of quiz_card_content -->
                    </div><!-- end of single_quiz_card -->
                  </div><!-- end of quiz_card_area -->
                </div><!-- end of col3  -->
                <!-- <div class="col-sm-3 col-lg-3"col-6>
                  <div class="quiz_card_area">
                    <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                    <div class="single_quiz_card">
                      <div class="quiz_card_content">
                        <div class="quiz_card_icon">
                          <img style="max-width: 70%;" src="{% static 'user/imgs/blog/BROKEN.png' %}" alt="">
                        </div>

                        <div class="quiz_card_title">
                          <h3><i class="fa fa-check" aria-hidden="true"></i> Dead spot/visible lines on screen</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>

            <div class="step row">
              <div class="form-check col-lg-4 box">
                <div style="margin: 9px">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    <h5> Below 3 months</h5>
                  </label>
                </div>
              </div>&nbsp;
              <div class="form-check col-lg-4 box">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  <h5> 3 months to 6 months</h5>
                </label>
              </div>&nbsp;
              <div class="form-check col-lg-4 box">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  <h5> 6 months to 11 months</h5>
                </label>
              </div>&nbsp;
              <div class="form-check col-lg-4 box">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  <h5> above 11 months</h5>
                </label>
              </div><br><br><br><br><br><br><br><br>
              <div class="product-action-1 ">
                <a href="{% url 'user:login' %}" class="btn btn-irv col-xs-6 pull-right text-center mrgin">

                  CONTINUE
                </a>

              </div>
            </div>
          </div>
          <div class="wizard-footer">
            <div class="row">
              <!-- <div class="col-xs-6 pull-left block-center">
                <button id="wizard-prev" style="display:none" type="button" class="btn btn-irv btn-irv-default">
                  Previous
                </button>
              </div> -->

              <!-- <div class="col-xs-6 pull-right block-center">
                <button id="wizard-subm" style="display:none" type="button" class="btn btn-irv">
                  Submit
                </button> 
              </div> -->
            </div>
            <div class="col-xs-6 pull-right text-center">
              <button id="wizard-next" type="button" class="btn btn-irv">
                CONTINUE
              </button>
            </div><br><br>
          </div>
        </form>


      </div>
    </div>
    <div class="col-lg-4 d-sm-none d-lg-block">


      <div class="wizard card-like" style="height: 572px">

        <div class="row" style="width: 18rem; border: none;">
          <div class="col-4 col-lg-4 col-md-4">
            <img class="card-img-top" src="{% static 'user/imgs/shop/mob3.jpg' %}" alt="Card image cap">
          </div>


          <div class="col-8 col-lg-8 col-md-8">
            <h3 class="text-center">Iphone 11</h3>
            <div class="text-center pt-3 ">
              <h4>(1 GB/32 GB)</h4>
            </div>
          </div>



        </div>
        <hr>
        <div class="p-3">
          <h4 class="mb-15 text-brand">Device Evaluation</h4>
          <ul style="list-style-type:circle">
            <li>Able to Make and Receive Calls</li>
            <li>Mobile Under Warranty</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class=" modal-content " style="width: 739px;">
      <div class="container-fluid ps-md-0">
        <div class="row g-0">
          <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image" style="background-color:#660095; height:639px ">
            <h2 style="color: white; padding: 17px;">Login/Sign Up</h2>

            <div class="col-lg-12">
              <img style="margin-left: -179px;
            margin-top: 361px;" src="{% static 'user/imgs/theme/login.png' %}">
            </div>
          </div>


          <div class="col-lg-1"></div>
          <div class="col-md-7 col-lg-6">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-12 mx-auto">
                    <h1 class="login-heading mb-4">Welcome back!</h1>

                    <!-- Sign In Form -->
                    <form>
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Enter your phone number</label>
                      </div>
                      <!-- <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div> -->

                      <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                        <label class="form-check-label" for="rememberPasswordCheck">
                          I agree with <a href="terms"> <span style="color:#630f63;"> terms and conditions </a></span>
                        </label>
                      </div>

                      <div class="d-grid">
                        <a href="{% url 'user:payment' %}"><button class="btn  text-uppercase fw-bold " type="submit">
                            Sign in </a></button>
                        <!-- <div class="text-center">
                          <a class="small" href="#">Forgot password?</a>
                        </div> -->
                      </div>

                    </form>
                    <!-- <h4>login to unlock the best price</h4> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  function calcPrice() {
    var price = 10000;
    $("input[type=radio][data-price]:checked").each(function (i, el) {
      price += +$(el).data("price");
    });
    $("#price").text(price);
  }

  $("input[type=radio]").on("change", calcPrice);
  calcPrice();
</script>




{% endblock %}