{% extends 'user/partials/base.html' %} {% load static %} {% block content %}

<style>
  .box {
    border: 1px solid;
    border-color: rgba(112, 112, 112, 0.12);
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0px 20px;
  }

  #green {
    display: none;
  }

  #red {
    display: none;
  }

</style>

<section class="py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-3">
        <div class="wizard card-like mb-3">

          <form action="#">
            <div class="wizard-header">
              <h3 class="section-title mb-20">Tell us few things about your device</h3>
            </div>

            <div class="wizard-body">


              {% for q in questions %}
              <section class="question">
                <h6>{{forloop.counter}}. {{q.question}}</h6>
                <span>{{q.subtext}}</span>

                <div class="d-flex mt-3">
                  {% for op in q.get_options %}
                  <div class="radio-wrapper">
                    <label class="form-check-label" for="{{op.pk}}">
                      <input type="radio" id="{{op.pk}}" name="answer1" value="{{op.pk}}"
                        data-identifier="{{op.identifier}}" data-question="{{q.pk}}" data-value="{{op.pk}}">
                      <p class="ml-2">{{op.text}}</p>
                    </label>
                  </div>
                  {% endfor %}

                </div>
              </section>
              {% endfor %}


              {% comment %}{% include 'user/partials/wizard_form.html' %}{% endcomment %}

            </div>

            <div class="wizard-footer">
              <div class="col-xs-6 pull-right text-center">
                <button type="submit" class="btn btn-irv">CONTINUE</button>
              </div>
            </div>

          </form>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 d-lg-block">

        <div class="wizard card-like h-100">

          <div class="row mb-3">
            <div class="col-4 col-lg-4 col-md-4">
              <img class="card-img-top" src="{% static 'user/imgs/shop/mob3.jpg' %}" alt="Card image cap" />
            </div>
            <div class="col-8 col-lg-8 col-md-8">
              <h5 class="">Iphone 11 (1 GB/32 GB)</h5>
              <div class="pricebtn" style="color: #5f009a;">&#8377; <span id="price"></span></div>
            </div>
          </div>

          <div class="row border-top">
            <div class="col-12 py-3">
              <h4 class="mb-15 text-brand mb-0">Device Evaluation</h4>
              <ul style="list-style-type: circle;" id="evaluation">

              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 739px;">
        <div class="container-fluid ps-md-0">
          <div class="row g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image" style="background-color: #660095; height: 639px;">
              <h2 style="color: white; padding: 17px;">Login/Sign Up</h2>

              <div class="col-lg-12">
                <img style="margin-left: -179px; margin-top: 361px;" src="{% static 'user/imgs/theme/login.png' %}" />
              </div>
            </div>

            <div class="col-lg-1"></div>
            <div class="col-md-7 col-lg-6">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="login d-flex align-items-center py-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9 col-lg-12 mx-auto">
                      <h1 class="login-heading mb-4">Welcome back!</h1>

                      <!-- Sign In Form -->
                      <form>
                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                          <label for="floatingInput">Enter your phone number</label>
                        </div>
                        <!-- <div class="form-floating mb-3">
                          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                          <label for="floatingPassword">Password</label>
                        </div> -->

                        <div class="form-check mb-3">
                          <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" />
                          <label class="form-check-label" for="rememberPasswordCheck">
                            I agree with terms and conditions
                          </label>
                        </div>

                        <div class="d-grid">
                          <a href="{% url 'user:payment' %}" class="btn text-uppercase fw-bold"> Sign in </a>
                        </div>
                      </form>
                      <!-- <h4>login to unlock the best price</h4> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block js %}
<script>
  $(document).ready(function () {
    $('input[type=radio]').change(function () {
      var identifier = $(this).data('identifier');
      var question = $(this).data('question');
      var value = $(this).data('value');
      var li = '<li data-pk="' + value + '" data-question="' + question + '">' + identifier + '</li>';
      var item = $('#evaluation li[data-question=' + question + ']');
      if (item.length) {
        item.replaceWith(li);
      } else {
        $('#evaluation').append(li);
      }
    });
  });
</script>
{% endblock %}
