{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}

<main class="main">
    <div class="featured section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <h3 class="section-title mb-20">Sell Your Old Mobile Phone </h3>

                </div>
                <div class="col-lg-4 text-end">
                    <div class="flwidth layout vertical list-search center-center">
                        <a class="flwidth">
                            <label for="list-search-input"
                                class="layout horizontal center pad10 flwidth drill-search card-shadow radius-10">
                                <span id="search-icon" class="search-icon layout center-center">
                                    <img alt="product_search" class="" src="{% static 'user/imgs/ProductSearch.svg' %}">
                                </span>
                                <input type="search" id="pd_list_search_input" autocomplete="off"
                                    placeholder="Search your Mobile Phone to sell"
                                    class="font16-14 flwidth card mar-r10 search-input">
                            </label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BRAND -->
    <section class="featured section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center-mob font16-12 font-medium pad-b16 jss87"> Select Your brand</div>
                </div>
            </div>

            <div class="row">

{% for brand in brand %}
                <div class="col-lg-2 col-3" style="padding: 2%;">
                    <div class="card2">
                        <div class="card-body">
                            <div class="product-cart-wrap small hover-up">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'user:shops' brand.id %}">
                                            <img class="default-img" src="{{ brand.image.url }}"
                                                alt="">
                                            <img class="hover-img" src="{{ brand.image.url }}"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endfor %}


            </div>
        </div>
    </section>

    <!-- HOT DEALS -->
    <section class="banners mb-20">
        <div class="container">
            <div class="row">
                <h3 class="section-title mb-20"><span>Hot</span> Deals</h3>
                <div class="col-lg-4 col-md-6">
                    <div class="card3">
                        <a href="">
                            <div class="banner-img wow fadeIn animated">
                                <img src="{% static 'user/imgs/deal/11.jpg' %}" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card3">
                        <a href="">
                            <div class="banner-img wow fadeIn animated">
                                <img src="{% static 'user/imgs/deal/12.jpg' %}" alt="">
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card3">
                        <a href="">
                            <div class="banner-img wow fadeIn animated">
                                <img src="{% static 'user/imgs/deal/13.jpg' %}" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- Why Us -->
    <section class="banners mb-20 wusbanner mt-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-title mb-20 col-sm-12 col-12"><span>Why</span> Us</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-6 why-us ">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/best-price.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4 style="">Best Prices</h4>
                                    <span class="">Objective AI-based pricing</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6 why-us">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/instant-pay.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4>Instant Payment</h4>
                                    <span> Instant Money Transfer in your preferred mode at time of
                                        pick up or store drop off</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6 why-us">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/Simple-&-Convenient.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4 style="">Simple & Convenient </h4>
                                    <span class=""> Check price, schedule pickup & get paid</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-6 why-us">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/door-1.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4>
                                        Free Doorstep Pickup
                                    </h4>
                                    <span class="">No fees for pickup across 1500 cities across India</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6 why-us">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/data.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4>Factory Grade Data Wipe</h4>
                                    <span>100% Safe and Data Security Guaranteed</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6 why-us">
                    <div class="banner-img wow fadeIn animated">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'user/imgs/icon/invoice.png' %}" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="banner-texts">
                                    <h4>Valid Purchase Invoi </h4>
                                    <span>Genuine Bill of Sale</span>
                                    <!-- <a href="#">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- MOST SELLING BRAND -->
    <section class="popular-categories section-padding mt-15">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>Most </span>selling brand</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                <div class="carausel-6-columns" id="carausel-6-columns">
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="shops"><img src="{% static 'user/imgs/banner/apple.jpg' %}" alt=""></a>
                        </figure>
                        <!-- <h5><a href="#">T-Shirt</a></h5> -->
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="#"> <img src="{% static 'user/imgs/banner/honor.jpg' %}"
                                    alt=""></a>
                        </figure>
                        <!-- <h5><a href="#">Bags</a></h5> -->
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'user/imgs/banner/hp.jpg' %}" alt=""></a>
                        </figure>
                        <!-- <h5><a href="#">Sandan</a></h5> -->
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'user/imgs/banner/nok.jpg' %}"
                                    alt=""></a>
                        </figure>
                        <!-- <h5><a href="#">Scarf Cap</a></h5> -->
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'user/imgs/banner/one.jpg' %}"
                                    alt=""></a>
                        </figure>
                        <!-- <h5><a href="#">Shoes</a></h5> -->
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'user/imgs/banner/sam.jpg' %}"
                                    alt=""></a>
                        </figure>
                        <!-- <h5><a href="#">Pillowcase</a></h5> -->
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'user/imgs/banner/oppo.jpg' %}"
                                    alt=""></a>
                        </figure>
                        <!-- <h5><a href="#">Jumpsuits</a></h5> -->
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="#"><img src="{% static 'user/imgs/banner/real.jpg' %}"
                                    alt=""></a>
                        </figure>
                        <!-- <h5><a href="#">Hats</a></h5> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MOST SELLING MODELS -->
    <section class="section-padding">
        <div class="container wow fadeIn animated animated animated" style="visibility: visible;">
            <h3 class="section-title mb-20"><span>Most</span> Selling model </h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"><span class="slider-btn slider-prev slick-arrow" style=""><i class="fi-rs-angle-left"></i></span>
                <span class="slider-btn slider-next slick-arrow" style=""><i class="fi-rs-angle-right"></i></span></div>
                <div class="carausel-6-columns carausel-arrow-center slick-initialized slick-slider" id="carausel-6-columns-2">
                    
                    <!--End product-cart-wrap-2-->
                    
                    <!--End product-cart-wrap-2-->
                    
                    <!--End product-cart-wrap-2-->
                    
                    <!--End product-cart-wrap-2-->
                    
                    <!--End product-cart-wrap-2-->
                    
                    <!--End product-cart-wrap-2-->
                    
                    <!--End product-cart-wrap-2-->
                <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 3008px; transform: translate3d(-376px, 0px, 0px);"><div class="product-cart-wrap small hover-up slick-slide slick-cloned" tabindex="-1" style="width: 188px;" data-slick-index="-2" id="" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob.jpg" alt="">
                                </a>
                            </div>
                            
                           
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 123 </span>
                                <span class="old-price">₹ 156</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide slick-cloned" tabindex="-1" style="width: 188px;" data-slick-index="-1" id="" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob.jpg" alt="">
                                </a>
                            </div>
                            
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 238.85 </span>
                                <span class="old-price">₹ 245.8</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide slick-current slick-active" tabindex="0" style="width: 188px;" data-slick-index="0" aria-hidden="false">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="0">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob%202.jpg" alt="">
    
                                    <img class="hover-img" src="/static/user/imgs/shop/mob%202.jpg" alt="">
                                </a>
                            </div>
                            
                           
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="0">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 238.85 </span>
                                <span class="old-price">₹ 245.8</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide slick-active" tabindex="0" style="width: 188px;" data-slick-index="1" aria-hidden="false">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="0">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob.jpg" alt="">
                                </a>
                            </div>
                            
                           
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="0">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 173.85 </span>
                                <span class="old-price">₹ 185.8</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide" tabindex="-1" style="width: 188px;" data-slick-index="2" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob3.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob3.jpg" alt="">
                                </a>
                            </div>
                            
                        
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 215.85 </span>
                                <span class="old-price">₹ 235.8</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide" tabindex="-1" style="width: 188px;" data-slick-index="3" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob3.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob3.jpg" alt="">
                                </a>
                            </div>
                            
                       
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 83.8 </span>
                                <span class="old-price">₹ 125.2</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide" tabindex="-1" style="width: 188px;" data-slick-index="4" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob%202.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob%202.jpg" alt="">
                                </a>
                            </div>
                            
                
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 1238.85 </span>
                                <span class="old-price">₹ 1245.8</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide" tabindex="-1" style="width: 188px;" data-slick-index="5" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob.jpg" alt="">
                                </a>
                            </div>
                            
                           
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 123 </span>
                                <span class="old-price">₹ 156</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide" tabindex="-1" style="width: 188px;" data-slick-index="6" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob.jpg" alt="">
                                </a>
                            </div>
                            
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 238.85 </span>
                                <span class="old-price">₹ 245.8</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide slick-cloned" tabindex="-1" style="width: 188px;" data-slick-index="7" id="" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob%202.jpg" alt="">
    
                                    <img class="hover-img" src="/static/user/imgs/shop/mob%202.jpg" alt="">
                                </a>
                            </div>
                            
                           
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 238.85 </span>
                                <span class="old-price">₹ 245.8</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide slick-cloned" tabindex="-1" style="width: 188px;" data-slick-index="8" id="" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob.jpg" alt="">
                                </a>
                            </div>
                            
                           
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 173.85 </span>
                                <span class="old-price">₹ 185.8</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide slick-cloned" tabindex="-1" style="width: 188px;" data-slick-index="9" id="" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob3.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob3.jpg" alt="">
                                </a>
                            </div>
                            
                        
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 215.85 </span>
                                <span class="old-price">₹ 235.8</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide slick-cloned" tabindex="-1" style="width: 188px;" data-slick-index="10" id="" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob3.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob3.jpg" alt="">
                                </a>
                            </div>
                            
                       
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 83.8 </span>
                                <span class="old-price">₹ 125.2</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide slick-cloned" tabindex="-1" style="width: 188px;" data-slick-index="11" id="" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob%202.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob%202.jpg" alt="">
                                </a>
                            </div>
                            
                
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 1238.85 </span>
                                <span class="old-price">₹ 1245.8</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide slick-cloned" tabindex="-1" style="width: 188px;" data-slick-index="12" id="" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob.jpg" alt="">
                                </a>
                            </div>
                            
                           
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 123 </span>
                                <span class="old-price">₹ 156</span>
                            </div> -->
                        </div>
                    </div><div class="product-cart-wrap small hover-up slick-slide slick-cloned" tabindex="-1" style="width: 188px;" data-slick-index="13" id="" aria-hidden="true">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-right.html" tabindex="-1">
                                    <img class="default-img selling-phone" src="/static/user/imgs/shop/mob.jpg" alt="">
                                    <img class="hover-img" src="/static/user/imgs/shop/mob.jpg" alt="">
                                </a>
                            </div>
                            
                        </div>
                        <div class="product-content-wrap">
                            <h6 class="product-name"><a href="shop-product-right.html" tabindex="-1">One plus note c2</a></h6>
    
                            <!-- <div class="product-price">
                                <span>₹ 238.85 </span>
                                <span class="old-price">₹ 245.8</span>
                            </div> -->
                        </div>
                    </div></div></div></div>
            </div>
        </div>
    </section>
    <!-- FSQS -->
    <section>
        <div class="container p-3">
            <div class="row">
                <div class="accordion col-sm-12 col-12" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <h3 class="section-title mb-20 "><span>FAQ</span>s</h3>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <strong>How can I sell my old phone ?</strong>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>After visiting the Cashify website or app, select the product category you want
                                    to sell. Suppose you want to sell your mobile phone - click on the mobile section,
                                    select the brand, select the variant and answer a few questions about the state of
                                    the device. That's it. After that, Cashify will generate its quote and if you like
                                    the price, we will deliver the money to your home and collect your old device.
                                    .</strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <strong> What do you do with my old phone ?</strong>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Once a phone is sold to us, we refurbish it and rectify whatever issues it might
                                    have. Following which, we sell these devices to retailers so that they can be
                                    further sold to customers looking to buy second-hand devices..</strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <strong>where can I turn in old phones for cash ?</strong>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>In India there are many websites to sell your old mobile phone for cash but if
                                    your are looking for reliability then Eazify is most trusted platform to sell your
                                    mobile for instant cash..</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="banner-2 section-padding pb-0">
        <div class="container">
            <div class="banner-img banner-big wow fadeIn animated f-none">
                <img src="assets/imgs/banner/sp1.jpg" alt="">
                <img src="{% static 'user/imgs/banner/playstore.jpg' %}" alt="">
                <div class="banner-text " style="margin-left: 49%;">
                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                            src="{% static 'user/imgs/theme/app-store.jpg' %}" alt=""></a>
                    <a href="#" class="hover-up"><img src="{% static 'user/imgs/theme/google-play.jpg' %}" alt=""></a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}