{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}



    <main class="main">
        <section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover bg-grey-10 mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <!-- <h4 class="animated">Trade-In Offer</h4> -->
                                            <h3 class="animated fw-900">Sell your Mobile Phone for Instant Cash</h3>
                                            <!-- <h2 class="animated fw-900 text-brand"></h2> -->
                                            <p class="animated">Maximum Value</p>
                                            <p class="animated">Safe & Hassle-free</p>
                                            <p class="animated">Free Doorstep Pickup</p>
                                            <input type="text" placeholder="search your mobile phone to sell" name="" id="">
                                            <!-- <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html" tabindex="0"> Shop Now </a> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated" src="{% static 'user/imgs/banner/pos2.jpg'%}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
        </section>
        <section class="popular-categories section-padding mt-15">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Select</span> your phone brand</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shops"><img src="{% static 'user/imgs/banner/apple.jpg' %}" alt=""></a>
                            </figure>
                            <!-- <h5><a href="shop-grid-right.html">T-Shirt</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"> <img src="{% static 'user/imgs/banner/honor.jpg' %}" alt=""></a>
                            </figure>
                            <!-- <h5><a href="shop-grid-right.html">Bags</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'user/imgs/banner/hp.jpg' %}" alt=""></a>
                            </figure>
                            <!-- <h5><a href="shop-grid-right.html">Sandan</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'user/imgs/banner/nok.jpg' %}" alt=""></a>
                            </figure>
                            <!-- <h5><a href="shop-grid-right.html">Scarf Cap</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'user/imgs/banner/one.jpg' %}" alt=""></a>
                            </figure>
                            <!-- <h5><a href="shop-grid-right.html">Shoes</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'user/imgs/banner/sam.jpg' %}" alt=""></a>
                            </figure>
                            <!-- <h5><a href="shop-grid-right.html">Pillowcase</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'user/imgs/banner/oppo.jpg' %}" alt=""></a>
                            </figure>
                            <!-- <h5><a href="shop-grid-right.html">Jumpsuits</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'user/imgs/banner/real.jpg' %}" alt=""></a>
                            </figure>
                            <!-- <h5><a href="shop-grid-right.html">Hats</a></h5> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

       <section class="featured section-padding">
            <div class="container">
                <div class="row">
                    <h3 class="section-title mb-20">How<span>Eazify</span> Works</h3>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="{% static 'user/imgs/theme/icons/feature-2.png' %}" alt="">
                            <h4 class="bg-3">Online order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="{% static 'user/imgs/theme/icons/feature-5.png' %}" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="{% static 'user/imgs/theme/icons/feature-1.png' %}" alt="">
                            <h4 class="bg-1">Sheduled Pickup</h4>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="{% static 'user/imgs/theme/icons/feature-3.png' %}" alt="">
                            <h4 class="bg-2">Best money value</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="{% static 'user/imgs/theme/icons/feature-4.png' %}" alt="">
                            <h4 class="bg-4">Fast money</h4>
                        </div>
                    </div>
                   
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="{% static 'user/imgs/theme/icons/feature-6.png' %}" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="banners mb-20">

            <div class="container">
                <div class="row">
                    <h3 class="section-title mb-20"><span>Hot</span> Deals</h3>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="{% static 'user/imgs/banner/buy.png' %}" alt="">
                            <div class="banner-text">
                                <!-- <span>Smart Offer</span>
                                <h4>Save 20% on <br>Woman Bag</h4> -->
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="{% static 'user/imgs/banner/buy.png' %}" alt="">
                            <div class="banner-text">
                                <!-- <span>Sale off</span>
                                <h4>Great Summer <br>Collection</h4> -->
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="banner-img wow fadeIn animated  mb-sm-0">
                            <img src="{% static 'user/imgs/banner/buy.png' %}" alt="">
                            <div class="banner-text">
                                <!-- <span>New Arrivals</span>
                                <h4>Shop Today’s <br>Deals & Offers</h4> -->
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="banners mb-20 wusbanner">

            <div class="container">
                <div class="row">
                    <h3 class="section-title mb-20 col-sm-12 col-12"><span>Why</span> Us</h3>
                   
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="{% static 'user/fonts/uicons/tag.svg' %}" alt="">
                            <div class="banner-text">
                               
                                <h4 style="margin-left: 47px;">Best Prices</h4>
                                       <span class="subhd">Objective AI-based pricing</span>
                                <!-- <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="{% static 'user/fonts/uicons/tag7.svg' %}" alt="">
                            <div class="banner-text">
                                <h4 style="margin-left: 47px;">Instant Payment</h4>
                                <span class="subhd text-center"> Instant Money Transfer in your preferred mode at time of pick up or store drop off</span>
                                <!-- <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="{% static 'user/fonts/uicons/tag8.svg' %}" alt="">
                            <div class="banner-text">
                                <h4 style="margin-left: 47px;">Simple & Convenient   </h4>
                                       <span class="subhd"> Check price, schedule pickup & get paid</span>
                                <!-- <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="{% static 'user/fonts/uicons/tag2.svg' %}" alt="">
                            <div class="banner-text">
                                <h4 style="margin-left: 47px;">
                                    Free Doorstep Pickup
                                    </h4>
                                       <span class="subhd">No fees for pickup across 1500 cities across India</span>
                                <!-- <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="{% static 'user/fonts/uicons/tag9.svg' %}" alt="">
                            <div class="banner-text">
                                <h4 style="margin-left: 47px;">Factory Grade Data Wipe</h4>
                                <span class="subhd">100% Safe and Data Security Guaranteed</span>
                                <!-- <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="{% static 'user/fonts/uicons/tag11.svg' %}" alt="">
                            <div class="banner-text">
                                <h4 style="margin-left: 47px;">Valid Purchase Invoi </h4>
                                       <span class="subhd">Genuine Bill of Sale</span>
                                <!-- <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<section>
    <div class="container p-3">
        <div class="row">
    <div class="accordion col-sm-12 col-12" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <h3 class="section-title mb-20 "><span>FAQ</span>s</h3>
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
       

{% endblock %}