

<div class="row">
  <div class="shifa">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugiat vero atque totam quidem 
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugiat vero atque totam quidem </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugiat vero atque totam quidem </p>
 
  </div>
  <div class="shifa">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad omnis quae expedita ipsum nobis praesentium velit animi minus amet perspiciatis laboriosam similique debitis iste ratione nemo ea at corporis aliquam.</div>
</div>



<style>


.row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.shifa {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; /* Means flex: 1 1 0 */
    
    padding: 1em;
    margin: 0.25em;
    background: lightgray;
}

</style>

