{% extends 'user/partials/base.html' %}
{% load static %}
{% block content %}
<section class="pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">

                    <div class="col-lg-8 mx-auto">
                        <div class="card p-5">
                            <div class="padding_eight_all bg-white">
                                <h4 class="font-weight-bold text-center mb-4">Enter OTP</h4>

                                <small class="text-center d-block mb-3">OTP has been sent to your mobile number, Please
                                    enter the OTP
                                    to verify your mobile number</small>

                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="" id="otp">
                                        <div class="form-group">
                                            <input required="" type="number" class="form-control square input"
                                                name="otp" placeholder="Enter Your OTP" id="id_otp">
                                        </div>
                                        <div id="message_container">
                                            {% if messages %}
                                            <div class="alert alert-danger py-1 px-2">
                                                {% for message in messages %}
                                                <p class="mb-0 fs-10">{{ message }}</p>
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group otp d-flex justify-content-between">
                                            <button type="submit" class="btn btn-sm text-white"
                                                name="OTP">Confirm</button>
                                            <a class="text-end ajax_btn" href="javascript:void(0)"
                                                data-url="{% url 'user:resend_page' user_instance.pk %}">Resent OTP</a>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block js %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.3/imask.min.js'></script>
<script>
    var phoneMask = IMask(document.getElementById('id_otp'), { mask: '000000' });
</script>
{% endblock %}
