{% extends 'pickup-boy/partials/base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-md-6">
        <div class="card border">
            <div class="card-header">
                <h4 class="card-title">Fail</h4>
            </div>
            <div class="card-body">

                <div class="form-group">
                    <label class="text-label">Brand</label>
                    <input type="text" name="firstName" class="form-control" placeholder="Brand" required="">
                </div>

                <div class="form-group">
                    <label class="text-label">Mobile Model</label>
                    <input type="text" name="lastName" class="form-control" placeholder="Mobile Model" required="">
                </div>

                <div class="form-group">
                    <label class="text-label">IMEI Number</label>
                    <input type="text" name="lastName" class="form-control" placeholder="IMEI Number" required="">
                </div>

                <div class="form-group">
                    <label class="text-label">Example data</label>
                    <input type="text" name="lastName" class="form-control" placeholder="Example data" required="">
                </div>

                <div class="form-group">
                    <label class="text-label">Reason</label>
                    <textarea name="" id="" cols="30" rows="10" type="text" name="place" class="form-control"
                        placeholder="write here" required=""></textarea>
                </div>


                <div class="text-center">
                    <button type="button" class="btn btn-secondary mb-2 btn-lg" data-bs-toggle="modal"
                        data-bs-target="#exampleModalCenter">Fail</button>
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}
