{% extends 'pickup-boy/partials/base.html' %}
{% block content %}
{% load static %}

<div class="form-head  d-flex align-items-center flex-wrap">
    <h3 class="font-w600 mb-0 me-auto mb-2 text-black">Dash Borad</h3>
</div>

<div class="row">
    <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
        <div class="widget-stat card bg-danger">
            <div class="card-body  p-4">
                <div class="media">
                    <span class="me-3">
                        <i class="flaticon-381-calendar-1"></i>
                    </span>
                    <div class="media-body text-white text-right">
                        <p class="mb-1">ORDERS</p>
                        <h3 class="text-white">76</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
        <div class="widget-stat card bg-success">
            <div class="card-body p-4">
                <div class="media">
                    <span class="me-3">
                        <i class="flaticon-381-diamond"></i>
                    </span>
                    <div class="media-body text-white text-right">
                        <p class="mb-1">Example</p>
                        <h3 class="text-white">00</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
        <div class="widget-stat card bg-info">
            <div class="card-body p-4">
                <div class="media">
                    <span class="me-3">
                        <i class="flaticon-381-heart"></i>
                    </span>
                    <div class="media-body text-white text-right">
                        <p class="mb-1">Total Example</p>
                        <h3 class="text-white">00</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sub-header pt-5 pt-sm-5 pt-xs-5">
        <div class="d-flex align-items-center flex-wrap me-auto">
            <h3 class="dashboard_bar">Total Orders</h3>
        </div>

    </div>
    <div class="modal fade" id="addProjectSidebar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Project</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="text-black font-w500">Project Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="text-black font-w500">Deadline</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="text-black font-w500">Client Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary">CREATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="project-nav">
        <div class="card-action card-tabs  me-auto">
            <ul class="nav nav-tabs style-2">
                <li class="nav-item">
                    <a href="#navpills-1" class="nav-link active" data-bs-toggle="tab" aria-expanded="false">Total
                        Orders<span class="badge badge-pill shadow-primary badge-primary">154</span></a>
                </li>
                <li class="nav-item">
                    <a href="#navpills-2" class="nav-link" data-bs-toggle="tab" aria-expanded="false">Requests<span
                            class="badge badge-pill badge-info shadow-info">2</span></a>
                </li>
                <li class="nav-item">
                    <a href="#navpills-3" class="nav-link" data-bs-toggle="tab" aria-expanded="true">Completed<span
                            class="badge badge-pill badge-warning shadow-warning">4</span></a>
                </li>
                <li class="nav-item">
                    <a href="#navpills-4" class="nav-link" data-bs-toggle="tab" aria-expanded="true">Closed <span
                            class="badge badge-pill badge-danger shadow-danger">1</span></a>
                </li>
            </ul>
        </div>

    </div>
    <div class="tab-content project-list-group" id="myTabContent">

        <div class="tab-pane fade active show" id="navpills-1">

        </div>

        <div class="tab-pane fade" id="navpills-2">

        </div>


        <div class="tab-pane fade" id="navpills-3">

        </div>


        <div class="tab-pane fade" id="navpills-4">

        </div>


    </div>

    {% endblock %}
