{% extends 'pickup-boy/partials/base.html' %} {% block content %} {% load static crispy_forms_tags %}

<div class="row">
    <div class="col-md-6">
        <div class="card border">
            <div class="card-header">
                <h4 class="card-title">Requote Order</h4>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data" class="preview_form">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="form-group w-100 text-center mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if pickup_data.status == "requote" %}
    <div class="col-md-6">
        <div class="d-flex flex-wrap">
            {% if pickup_data.front_image %}
            <div class="preview_image">
                <img src="{{pickup_data.front_image.url}}" alt="" class="img-fluid">
                <p class="mb-0 mt-1 text-center">Front Image</p>
            </div>
            {% endif %}
            {% if pickup_data.back_image %}
            <div class="preview_image">
                <img src="{{pickup_data.back_image.url}}" alt="" class="img-fluid">
                <p class="mb-0 mt-1 text-center">Back Image</p>
            </div>
            {% endif %}
            {% if pickup_data.top_image %}
            <div class="preview_image">
                <img src="{{pickup_data.top_image.url}}" alt="" class="img-fluid">
                <p class="mb-0 mt-1 text-center">Top Image</p>
            </div>
            {% endif %}
            {% if pickup_data.bottom_image %}
            <div class="preview_image">
                <img src="{{pickup_data.bottom_image.url}}" alt="" class="img-fluid">
                <p class="mb-0 mt-1 text-center">Bottom Image</p>
            </div>
            {% endif %}
            {% if pickup_data.right_image %}
            <div class="preview_image">
                <img src="{{pickup_data.right_image.url}}" alt="" class="img-fluid">
                <p class="mb-0 mt-1 text-center">Right Image</p>
            </div>
            {% endif %}
            {% if pickup_data.left_image %}
            <div class="preview_image">
                <img src="{{pickup_data.left_image.url}}" alt="" class="img-fluid">
                <p class="mb-0 mt-1 text-center">Left Image</p>
            </div>
            {% endif %}
        </div>

    </div>
    {% endif %}
</div>
{% endblock %}


{% block js %}
<script>
    function setImagePreview(input) {
        const parentParent = input.parentNode.parentNode;
        const label = parentParent.querySelector('label');
        return function () {
            const file = input.files[0];
            const reader = new FileReader();
            reader.addEventListener('load', () => {
                label.style.backgroundImage = `url(${reader.result})`;
            });
            reader.readAsDataURL(file);
        }
    }

    const fileInputs = document.querySelectorAll('input[type="file"]');
    fileInputs.forEach(fileInput => {
        fileInput.addEventListener('change', setImagePreview(fileInput));
    });
</script>
{% endblock %}
