{% extends 'pickup-boy/partials/base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-lg-12">
        <div class="card mt-5">
            <div class="card-header">
                <h4 class="card-title">Tell us a few things about  device!</h4>
            </div>
            <div class="card-body">
                <div class="form-validation">
                    dgdfhygfhj
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}