{% extends 'pickup-boy/partials/base.html' %}
{% block content %}
{% load static %}



<div >
    <div class="row">
      <div class="col-xs-12 col-md-12 col-md-offset-2 col-lg-12 col-lg-offset-3">
        <div class="wizard card-like">
          <form action="#">
            <div class="wizard-header">
              <div class="row">
                <div class="col-xs-12">
  
                 
  
                  <div class="pricebtn">
  
                    <div class="btn btn-outline" id="price" style="color: #5f009a;"></div>
                    <!-- <p>Total:<span id="price"></span></p> -->
                  </div>
                  <h3 class="font-w600 mb-0 me-auto mb-2 text-black">Questions</h3>
                  <hr>
                </div>
              </div>
            </div>
  
  
            <div class="wizard-body">
              <div class="step initial active">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="slide">
                      <h5 class="questionhead">1. Are you able to make and receive calls? </h5>
                      <span style="color: grey;">Check your device for cellular network connectivity issues.</span>
                      <div class="row">
                        <div class="col-lg-4 col-sm-4">
                          <div class="form-check custom-checkbox  box mb-3 checkbox-info box">
                            <div class="question-button pt-2 px-3">
                              <input data-price="-200" checked class="form-check-input" type="radio" id="match_1"
                                name="match_1">
                              <label class="form-check-label" for="customCheckBox2">YES</label>
                            </div>
  
  
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 clearfix">
                          <div class="form-check custom-checkbox box mb-3 checkbox-success box">
                            <div class="question-button pt-2 px-3">
                              <input name="match_1" data-price="-50" type="radio" class="form-check-input" id="match_1" name="match_1">
                              <label class="form-check-label" for="customCheckBox2">NO</label>
                            </div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="slide">
                      <h5 class="questionhead">2. Is your device's touch screen working properly?</h5>
                      <span style="color: grey;">Check the touch screen functionality of your phone.</span>
                      <div class="row">
                        <div class="col-lg-4 col-sm-4">
                          <div class="form-check custom-checkbox box mb-3 checkbox-info">
                            <div class="question-button pt-2 px-3">
                              <input data-price="-5" type="radio" class="form-check-input" type="radio" id="match_4" name="match_4">
                              <label class="form-check-label" for="customCheckBox2">YES</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                          <div class="form-check custom-checkbox box mb-3 checkbox-success">
                            <div class="question-button pt-2 px-3">
                              <input data-price="-50" type="radio" class="form-check-input" type="radio" id="match_4" name="match_4">
                              <label class="form-check-label" for="customCheckBox2">NO</label>
                            </div>
                          </div>
                        </div>
  
                      </div>
                      <br>
  
                      <div class="slide">
                        <h5 class="questionhead"> 3. Is your phone's screen original? </h5>
                        <span style="color: grey;">Pick "Yes" if screen was never changed or was changed by Authorized
                          Service Center. Pick "No" if screen was changed at local shop.
                        </span>
                        <div class="row">
                          <div class="col-lg-4 col-sm-4">
                            <div class="form-check custom-checkbox box mb-3 checkbox-info">
                              <div class="question-button pt-2 px-3">
                                <input data-price="-5" class="form-check-input" type="radio" id="third" name="third">
                                <label class="form-check-label" for="customCheckBox2">YES</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-4">
                            <div class="form-check custom-checkbox box mb-3 checkbox-success">
                              <div class="question-button pt-2 px-3">
                                <input data-price="-20"  class="form-check-input" type="radio" id="third" name="third">
                                <label  class="form-check-label" for="customCheckBox2">NO</label>
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
  
                  <div class="col-sm-12">
                    <div class="slide">
                      <h5 class="questionhead">4. Is your device under brand warranty?</h5>
                      <span style="color: grey;">You can get a better price for your device if it's under brand's warranty
                        with a valid bill.</span>
                      <div class="row">
                        <div class="col-lg-4 col-sm-4">
                          <div class="form-check custom-checkbox box mb-3 checkbox-info">
                            <div class="question-button pt-2 px-3">
                              <input data-price="-5" type="radio" class="form-check-input" id="match_3" name="fourth">
                              <label class="form-check-label" for="customCheckBox2">YES</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 ">
                          <div class="form-check custom-checkbox box mb-3 checkbox-success">
                            <div class="question-button pt-2 px-3">
                              <input data-price="-20" type="radio" class="form-check-input"  id="match_3" name="fourth">
                              <label class="form-check-label" for="customCheckBox2">NO</label>
                            </div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <br>
                  </div>
  
                  <div class="col-sm-12">
                    <div class="slide">
                      <h5 class="questionhead"> 5. Do you have valid bill with same IMEI? </h5>
                      <span style="color: grey;">Make sure your bill has device IMEI mentioned on it.</span>
                      <div class="row">
                        <div class="col-lg-4 col-sm-4">
                          <div class="form-check custom-checkbox box mb-3 checkbox-info">
                            <div class="question-button pt-2 px-3">
                              <input data-price="-5" type="radio" class="form-check-input"  id="match_5" name="fifth">
                              <label class="form-check-label" for="customCheckBox2">YES</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                          <div class="form-check custom-checkbox box mb-3 checkbox-success">
                            <div class="question-button pt-2 px-3">
                              <input data-price="-100" type="radio" class="form-check-input"  id="match_5" name="fifth">
                              <label class="form-check-label" for="customCheckBox2">NO</label>
                            </div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
  
              <div class="step">
                <h4>Select screen/body defects that are applicable!</h4>
                <br>
                <div class="row">
                  <div class="col-sm-2 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/qq1.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Broken/scratch on device screen</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
  
  
                  <div class="col-sm-2 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/qq2.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i> Dead spot/visible lines on screen</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
  
  
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/qq3.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i> Scratch/Dent on device body</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
  
  
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/qq4.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i> Device panel missing/broken</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
  
  
                </div>
              </div>
  
              <div class="step">
                <h4>Front Camera not working</h4>
                <br>
                <div class="row">
                  <div class="col-sm-3 col-lg-3  col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q11.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i> Dead spot/visible lines on screen</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q12.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Back Camera not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q13.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Volume Button not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q14.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Finger Touch not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q15.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>WiFi not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q16.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Battery Faulty</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q17.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Speaker Faulty</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q18.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Power Button not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q19.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i> Charging Port not working
                            </h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q20.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i> Face Sensor not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div>
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q21.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Silent Button not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/35.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Audio Receiver not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q22.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Camera Glass Broken</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q23.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Vibrator is not working </h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/2-2-2.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i> Bluetooth not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/38.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Microphone not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/3-3-3.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Proximity Sensor not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
  
                  <!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
  
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/q29.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Audio Jack not working</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                </div>
              </div>
              <div class="step">
                <h4>Do you have the following</h4>
                <br>
                <div class="row">
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/107.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Original Charger of Device</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                  <div class="col-sm-3 col-lg-3 col-6">
                    <div class="quiz_card_area">
                      <input class="quiz_checkbox" type="checkbox" id="2" value="2" />
                      <div class="single_quiz_card">
                        <div class="quiz_card_content">
                          <div class="quiz_card_icon">
                            <img style="max-width: 70%;" src="{% static 'user/imgs/blog/108.png' %}" alt="">
                          </div><!-- end of quiz_card_media -->
  
                          <div class="quiz_card_title">
                            <h3><i class="fa fa-check" aria-hidden="true"></i>Box with same IMEI</h3>
                          </div><!-- end of quiz_card_title -->
                        </div><!-- end of quiz_card_content -->
                      </div><!-- end of single_quiz_card -->
                    </div><!-- end of quiz_card_area -->
                  </div><!-- end of col3  -->
                
                </div>
              </div>
  
              <div class="step row">
                <div class="form-check col-lg-4 box">
                  <div style="margin: 9px">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      <h5> Below 3 months</h5>
                    </label>
                  </div>
                </div>&nbsp;
                <div class="form-check col-lg-4 box">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    <h5> 3 months to 6 months</h5>
                  </label>
                </div>&nbsp;
                <div class="form-check col-lg-4 box">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    <h5> 6 months to 11 months</h5>
                  </label>
                </div>&nbsp;
                <div class="form-check col-lg-4 box">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    <h5> above 11 months</h5>
                  </label>
                </div><br><br><br><br><br><br><br><br>
                <div class="product-action-1 ">
                  <a href="" class="btn btn-irv col-xs-6 pull-right text-center mrgin" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
  
                  select
                  </a>
  
                </div>
              </div>
            </div>
            <div class="wizard-footer">
              <div class="row">
                <!-- <div class="col-xs-6 pull-left block-center">
                  <button id="wizard-prev" style="display:none" type="button" class="btn btn-irv btn-irv-default">
                    Previous
                  </button>
                </div> -->
  
                <!-- <div class="col-xs-6 pull-right block-center">
                  <button id="wizard-subm" style="display:none" type="button" class="btn btn-irv">
                    Submit
                  </button> 
                </div> -->
              </div>
              <div class="col-xs-6 pull-right text-center">
                <button id="wizard-next" type="button" class="btn btn-irv">
                  CONTINUE
                </button>
              </div><br><br>
            </div>
          </form>
  
  
        </div>
      </div>
      
    </div>
  </div>

<!-- 
  <div class="text-center">
    <button type="button" class="btn btn-secondary mb-2">Select</button>
</div> -->

<!-- submit modal -->

<div class="modal fade" id="exampleModalCenter" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">please select the Decisions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-4"><a href="{% url 'pickupboy:complete' %}" class="btn light btn-primary">Complete</a></div>
                    <div class="col-lg-4"><a href="{% url 'pickupboy:requote' %}"  class="btn light btn-secondary">Requote</a></div>
                    <div class="col-lg-4"><a href="{% url 'pickupboy:fail' %}" class="btn light btn-success">Fail</a></div>
                </div>
            </div>
          
        </div>
    </div>
</div>


{% endblock %}