{% extends 'pickup-boy/partials/base.html' %}
{% block content %}
{% load static %}


<div class="form-head d-flex align-items-center flex-wrap">
    <h3 class="font-w600 mb-0 me-auto mb-2 text-black">Questions</h3>
</div>
<div class="row">
    <div class="col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Form step</h4>
                <span class="badge badge-xl badge-outline-secondary">₹10,000</span>
            </div>
            <div class="card-body">
                <div id="smartwizard" class="form-wizard order-create sw sw-theme-default sw-justified">
                    <ul class="nav nav-wizard" style="display: none;">
                        <li><a class="nav-link inactive active" href="#wizard_Service">
                                <span>1</span>
                            </a></li>
                        <li><a class="nav-link inactive done" href="#wizard_Time">
                                <span>2</span>
                            </a></li>
                        <li><a class="nav-link inactive" href="#wizard_Details">
                                <span>3</span>
                            </a></li>
                        <li><a class="nav-link inactive" href="#wizard_Payment">
                                <span>4</span>
                            </a></li>
                    </ul>
                    <div class="tab-content" style="height: 473px;">
                        <div id="wizard_Service" class="tab-pane" role="tabpanel" style="display: block;">
                            <div class="row">
                                <div class="slide">
                                    <h5 class="questionhead"> 1. Are you able to make and receive calls? </h5>
                                    <div class="row my-4 mt-3">
                                        <div class="col-3">
                                            <div class="form-check custom-checkbox mb-3 checkbox-info">
                                                <input type="radio" class="form-check-input" type="radio" id="match_2"
                                                    name="num_students">
                                                <label class="form-check-label" for="customCheckBox2">YES</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-check custom-checkbox mb-3 checkbox-success">
                                                <input type="radio" class="form-check-input" type="radio" id="match_2"
                                                    name="num_students">
                                                <label class="form-check-label" for="customCheckBox3">NO</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="slide">
                                    <h5 class="questionhead"> 2. Is your device's touch screen working properly? </h5>
                                    <div class="row mx-3 mt-3">
                                        <div class="col-3">
                                            <div class="form-check custom-checkbox mb-3 checkbox-info">
                                                <input type="radio" class="form-check-input" type="radio" id="match_2"
                                                    name="num_students">
                                                <label class="form-check-label" for="customCheckBox2">YES</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-check custom-checkbox mb-3 checkbox-success">
                                                <input type="radio" class="form-check-input" type="radio" id="match_2"
                                                    name="num_students">
                                                <label class="form-check-label" for="customCheckBox3">NO</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="slide">
                                    <h5 class="questionhead"> 3. Is your phone's screen original? </h5>
                                    <div class="row mx-3 mt-3">
                                        <div class="col-3">
                                            <div class="form-check custom-checkbox mb-3 checkbox-info">
                                                <input type="radio" class="form-check-input" type="radio" id="match_2"
                                                    name="num_students">
                                                <label class="form-check-label" for="customCheckBox2">YES</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-check custom-checkbox mb-3 checkbox-success">
                                                <input type="radio" class="form-check-input" type="radio" id="match_2"
                                                    name="num_students">
                                                <label class="form-check-label" for="customCheckBox3">NO</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="slide">
                                    <h5 class="questionhead"> Do you have more than 100 students? </h5>
                                    <div class="row mx-3 mt-3">
                                        <div class="col-3">
                                            <div class="form-check custom-checkbox mb-3 checkbox-info">
                                                <input type="radio" class="form-check-input" type="radio" id="match_2"
                                                    name="num_students">
                                                <label class="form-check-label" for="customCheckBox2">YES</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-check custom-checkbox mb-3 checkbox-success">
                                                <input type="radio" class="form-check-input" type="radio" id="match_2"
                                                    name="num_students">
                                                <label class="form-check-label" for="customCheckBox3">NO</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="slide">
                                    <h5 class="questionhead">4. Is your device under brand warranty? </h5>
                                    <div class="row mx-3 mt-3">
                                        <div class="col-3">
                                            <div class="form-check custom-checkbox mb-3 checkbox-info">
                                                <input type="radio" class="form-check-input" type="radio" id="match_2"
                                                    name="num_students">
                                                <label class="form-check-label" for="customCheckBox2">YES</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-check custom-checkbox mb-3 checkbox-success">
                                                <input type="radio" class="form-check-input" type="radio" id="match_2"
                                                    name="num_students">
                                                <label class="form-check-label" for="customCheckBox3">NO</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="wizard_Time" class="tab-pane" role="tabpanel" style="display: none;">
                            <p>select these</p>
                            <div class="row">
                                <div class="col-lg-3 col-xs-6  col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/crack.png' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>



                                    </div>
                                </div>
                                <div class="col-lg-3 col-xs-6 col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/crack.png' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6 col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/crack.png' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6 col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/crack.png' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="wizard_Details" class="tab-pane" role="tabpanel" style="display: none;">
                            <p>select these</p>
                            <div class="row">
                                <div class="col-lg-3 col-xs-6  col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/phone.jpg' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>



                                    </div>
                                </div>
                                <div class="col-lg-3 col-xs-6 col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/phone.jpg' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6 col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/phone.jpg' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6 col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/phone.jpg' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="wizard_Payment" class="tab-pane" role="tabpanel" style="display: none;">
                            <p>select these</p>
                            <div class="row">
                                <div class="col-lg-3 col-xs-6  col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/crack.png' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>



                                    </div>
                                </div>
                                <div class="col-lg-3 col-xs-6 col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/crack.png' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6 col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/crack.png' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6 col-6 col-sm-3 mb-2">
                                    <div class="card border-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <span class="checkbox-control__target"></span>
                                        </label>
                                        <img class="card-img-top img-fluid"
                                            src="{% static 'official/images/card/crack.png' %}" alt="Card image cap">

                                        <div class="card-body">
                                            <p class="card-text">He lay on his armour-like back, and if he lifted his
                                                head a little
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-secondary mb-2" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalCenter">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="toolbar toolbar-bottom" role="toolbar" style="text-align: right;"><button
                            class="btn btn-primary sw-btn-prev disabled" type="button">Previous</button><button
                            class="btn btn-primary sw-btn-next" type="button">Next</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- submit modal -->

<div class="modal fade" id="exampleModalCenter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">please select the Decisions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-4"><a href="{% url 'pickupboy:complete' %}" class="btn light btn-primary">Complete</a></div>
                    <div class="col-lg-4"><a href="{% url 'pickupboy:requote' %}"  class="btn light btn-secondary">Requote</a></div>
                    <div class="col-lg-4"><a href="{% url 'pickupboy:fail' %}" class="btn light btn-success">Fail</a></div>
                </div>
            </div>
          
        </div>
    </div>
</div>


{% endblock %}